@charset "utf-8";

@font-face{
	font-family:NotoSans;
    src:url(../../../style/font/NotoSansKR-Regular.eot);
    src:local('※'), url(../../../style/font/NotoSansKR-Regular.woff) format('woff');
}
@font-face{
	font-family:NotoSansM;
    src:url(../../../style/font/NotoSansKR-Medium.eot);
    src:local('※'), url(../../../style/font/NotoSansKR-Medium.woff) format('woff');
}

.guide{font-family:NotoSans, sans-serif}
.guide .guideBox{margin-bottom:30px;padding:30px 20px 30px 15px;background-color:#f5f5f5}
.guide .link1{color:#1767aa;font-size:15px}
.guide .link1:hover{text-decoration:underline}
.guide .guideContent{margin-bottom:40px}
.guide .guideContent2{padding-top:40px;border-top:1px dashed #c3c3c3;margin-bottom:40px}
.guide .guideTitle1{margin-bottom:15px;padding-left:23px;background:url(../../../image/ko/local/guide/guideTitleBg1.png) no-repeat 0 7px;font-size:19px;font-family:NotoSansM, sans-serif;font-weight:normal}
.guide .guideTitle2{margin-bottom:15px;padding-left:13px;background:url(../../../image/ko/local/guide/guideBullet2.jpg) no-repeat 0 7px;color:#333;font-size:21px;font-family:NotoSansM, sans-serif;font-weight:normal}
.guide .guideTitle3{margin-bottom:15px;color:#333;font-size:21px;font-family:NotoSansM, sans-serif;font-weight:normal}
.guide .guideList1{padding-left:15px}
.guide .guideList1 > li{margin-top:3px;padding-left:13px;background:url(../../../image/ko/local/guide/guideBullet1.gif) no-repeat 0 10px;color:#595959;font-size:15px}
.guide .guideList1 > li:first-child{margin-top:0}
.guide .guideList1 > li > ul > li{padding-left:12px;background:url(../../../image/ko/local/guide/guideBullet3.gif) no-repeat 0 10px}
.guide .point1{color:#ff6f6f;font-size:14px}
.guide .inquiry{padding:22px 50px 12px;border:1px solid #ededed}
.guide .inquiry dl{overflow:hidden}
.guide .inquiry dt{float:left;margin:12px 55px 20px 0;color:#333;font-size:19px;font-family:NotoSansM, sans-serif}
.guide .inquiry dd{float:left;color:#363636;font-size:16px}
.guide .inquiry dd ul{overflow:hidden}
.guide .inquiry dd ul li{float:left;height:41px;margin:0 50px 10px 0;padding:12px 0 0 78px}
.guide .inquiry dd ul li.department{background:url(../../../image/ko/local/guide/department.png) no-repeat 0 0}
.guide .inquiry dd ul li.tel{background:url(../../../image/ko/local/guide/tel.png) no-repeat 0 0}
.guide .inquiry dd ul li.email{background:url(../../../image/ko/local/guide/email.png) no-repeat 0 0}
.guide .inquiry dd ul li.email a{color:#1378d7}
.guide .inquiry dd ul li.email a:hover, .guide .inquiry dd ul li.email a:focus{text-decoration:underline}
.guide .inquiry dd ul li > span{color:#716f6f}
.guide .inquiry dd ul li:last-child{margin-right:0}
@media (min-width:768px) and (max-width:1024px){
	.guide .inquiry{padding:22px 20px 12px;}
	.guide .inquiry dd ul li{margin-right:20px;padding-left:64px}
}
@media (min-width:0) and (max-width:767px){
	.guide .inquiry{padding:15px 20px 5px}
	.guide .inquiry dt{float:none;margin:0 0 0 0}
	.guide .inquiry dd{float:none}
	.guide .inquiry dd ul li{float:none;margin:10px 0;padding-top:22px;border-top:1px solid #f3f3f3;background-position:0 10px !important}
	.guide .inquiry dd ul li:first-child{border-top:none}
}

/* Table */
.guideTable .noBorderL{border-left:none}
.guideTable table{width:100%;border-collapse:collapse;border-spacing:0;border-top:2px solid #383737}
.guideTable table thead th{padding:20px 10px;color:#121212;font-size:17px;border:1px solid #d6d6d6;border-right:none;background-color:#e8f1f3;text-align:center;font-weight:normal}
.guideTable table tbody th{padding:20px 10px;color:#121212;font-size:15px;border:1px solid #d6d6d6;border-right:none;background-color:#f8f8f8;text-align:center;font-weight:normal}
.guideTable table tbody td{padding:20px 30px;border:1px solid #d6d6d6;border-right:none;}
@media (min-width:0) and (max-width:767px){
	.guideTable table tbody td{padding:20px 10px}
}
.guideTable2 .noBorderL{border-left:none}
.guideTable2 table{width:100%;border-collapse:collapse;border-spacing:0;border-top:2px solid #383737}
.guideTable2 table thead th{padding:12px 10px;color:#121212;font-size:15px;border:1px solid #d6d6d6;border-right:none;background-color:#f1f1f1;text-align:center;font-weight:normal;line-height:17px}
.guideTable2 table tbody th{padding:12px 10px;color:#121212;font-size:15px;border:1px solid #d6d6d6;border-right:none;background-color:#f8f8f8;text-align:center;font-weight:normal;line-height:17px}
.guideTable2 table tbody td{padding:12px 10px;border:1px solid #d6d6d6;border-right:none;line-height:17px}

/* Margin */
.guide .mt4{margin-top:4px}
.guide .mt15{margin-top:15px}

/* Padding */
.guide .pdl28{padding-left:28px}

/* 개인정보처리방침 */
.ethics > h3{margin-bottom:30px;color:#2c2c2c;font-size:28px;font-family:NotoSans, sans-serif;text-align:center;font-weight:normal}
.ethics > h4{margin-bottom:30px;color:#2c2c2c;font-size:20px;font-family:NotoSans, sans-serif;text-align:center;font-weight:normal}
.ethics > div{margin-bottom:30px}
.ethics > div > p{margin-bottom:30px;padding:7px 30px;color:#1e1e1e;font-size:17px;background-color:#f2f2f2}
.ethics > div > ul > li{margin-top:15px;color:#595959;font-size:14px;line-height:24px}
.ethics > div > ul > li > ul > li{font-size:14px !important}
.ethics > div > ul > li:first-child{margin-top:0}
.ethics > div > ul > li > ul{margin-top:5px}
.ethics > div > ul > li > ul > li{margin-top:10px}
.ethics > div > ul > li > ul > li:first-child{margin-top:0}
.ethics > div > ul > li > ul > li > ul{margin-top:5px;padding-left:15px}
.ethics .rule2{margin-top:50px}
.ethics .rule{text-align:center}
.ethics .rule > p{margin-bottom:0;padding:0;background:none}