@charset "utf-8";

/* Font */
@font-face {
    font-family: "NotoSansKR";
    src: url(../../../../style/font/NotoSansCJKkr-Regular.eot);
    src: local('※'), url(../../../../style/font/NotoSansCJKkr-Regular.woff) format('woff');
}

@font-face {
    font-family: "NotoSansKRM";
    src: url(../../../../style/font/NotoSansCJKkr-Medium.eot);
    src: local('※'), url(../../../../style/font/NotoSansCJKkr-Medium.woff) format('woff');
}

@font-face {
    font-family: "NotoSansKRDL";
    src: url(../../../../style/font/NotoSansKR-DemiLight.eot);
    src: local('※'), url(../../../../style/font/NotoSansKR-DemiLight.woff) format('woff');
}

@font-face {
    font-family: "RobotoM";
    src: url(../../../../style/font/Roboto-Medium.eot);
    src: local('※'), url(../../../../style/font/Roboto-Medium.woff) format('woff');
}

@font-face {
    font-family: "Roboto";
    src: url(../../../../style/font/Roboto-Regular.eot);
    src: local('※'), url(../../../../style/font/Roboto-Regular.woff) format('woff');
}

@font-face {
    font-family: "OpenSansL";
    src: url(../../../../style/font/OpenSans-Light.eot);
    src: local('※'), url(../../../../style/font/OpenSans-Light.woff) format('woff');
}

@font-face {
    font-family: NanumBarunGothic;
    src: url(../../../style/font/NanumBarunGothic.eot);
    src: local('※'), url(../../../style/font/NanumBarunGothic.woff) format('woff');
}




/* 2020_06_05  김태완 스타일 추가 */


/* topInfo */
.topInfo {width:100%; height:92px; background:url('../../../../image/ko/local/main/topInfoBg.jpg') repeat-x 50% 0;}
.topInfoW {position:relative; width:1200px; height:92px; margin:0 auto;}
.topInfoW .topCloseBtn {position:relative;}
.topInfoW .topCloseBtn > a {position:absolute; z-index:5; top:25px; right:20px; width:33px; height:33px; text-indent:-9999px; background:url('../../../../image/ko/local/main/topInfoClose.png') no-repeat center center; cursor:pointer;}
.topInfoW .topCloseBtn > label {display:none;}
.topInfoW .openMsg {position:relative; width:auto; height:100%;}
.topInfoW .openMsg p > a {color:#fff; font-size:15px; letter-spacing:-0.05em;}
.topInfoW .openMsg p.openMessage1 {position:relative; float:left; width:50%; padding-left:45px; padding-top:30px; box-sizing:border-box;}
.topInfoW .openMsg p.openMessage1 a::before {position:absolute; top:34px; left:15px; content:''; width:16px; height:11px; background:url('../../../../image/ko/local/main/check.png') no-repeat left top;}
.topInfoW .openMsg p.openMessage2 {position:relative; float:left; width:50%; padding-left:45px; padding-top:30px; box-sizing:border-box;}
.topInfoW .openMsg p.openMessage2 a::before {position:absolute; top:34px; left:15px; content:''; width:16px; height:11px; background:url('../../../../image/ko/local/main/check.png') no-repeat left top;}


@media (min-width:1025px) and (max-width:1200px){
    .topInfoW {width:auto;}
}

/* header */
#divHeader {position:relative; z-index:100; width:100%; height:164px;}
.headerTop {width:100%; height:94px; background:#fff;}
.headerTopW {position:relative; width:1200px; height:100%; margin:0 auto;}
.headerTopW #divGlobalMenu {position:relative; top:50%; right:0; margin-top:-10px;}
.headerTopW #divGlobalMenu .locationBtn {position:absolute; top:50%; left:0; margin-top:-14px;}
.headerTopW #divGlobalMenu .locationBtn::after {content:''; display:block; clear:both;}
.headerTopW #divGlobalMenu .locationBtn > li {float:left; margin-right:8px;}
.headerTopW #divGlobalMenu .locationBtn > li:last-child {margin-right:0;}
.headerTopW #divGlobalMenu .locationBtn > li > a {display:inline-block; width:60px; height:26px; border:1px solid #cdcccc; box-sizing:border-box; font-size:15px; text-align:center; line-height:24px;}
.headerTopW #divGlobalMenu .locationBtn > li.on > a {background:#0c4ca3; color:#fff;}
.headerTopW .logo {position:absolute; top:50%; left:50%; margin:-19px 0 0 -115px;}

.headerTopW #divGlobalMenu .profile {position:absolute; top:-12px; right:0; margin-right:10px;}
.headerTopW #divGlobalMenu .profile::after {content:''; display:block; clear:both;}
.headerTopW #divGlobalMenu .profile > li {float:left;  padding-left:5px; margin-left:5px; background:url('../../../../image/ko/local/globalVerticalBar.png') no-repeat left center;}
.headerTopW #divGlobalMenu .profile > li:first-child {padding-left:0; margin-left:0; background:none;}
.headerTopW #divGlobalMenu .profile > li:nth-child(3) {background:none;}
.headerTopW #divGlobalMenu .profile > li > a > b {margin-right:5px; font-weight:500;}
.headerTopW #divGlobalMenu .profile > li.summary > a {background:#646567 url('../../../../image/ko/local/infoIcon.png') no-repeat 8% 50%; color:#fff; border-radius:3px; padding:1px 6px 2px 18px;}
.headerTopW #divGlobalMenu .profile > li.mobileID {display:none;}
.headerTopW #divGlobalMenu .profile > .langBtn {position:relative; margin-right:10px;}
.headerTopW #divGlobalMenu .profile > .langBtn > a::after {position:absolute; margin:6px 0 0 5px; content:''; width:15px; height:10px; background:url('../../../../image/ko/local/downArrow.png') no-repeat top;}
.headerTopW #divGlobalMenu .profile > li > ul.langBox {display:none; position:absolute; top:30px; right:-20px; width:100px; height:50px; background:#fff; border:1px solid #cbcbcb;}

@media (min-width:1025px) and (max-width:1200px){
    .headerTopW {width:auto;}
}

.headerBottom {width:100%; height:70px; background:#1e2c5d;}
.headerBottomW {width:1200px; margin:0 auto;}
.headerBottomW #divTopMenu:after {content:''; display:block; clear:both;}
.headerBottomW #divTopMenu > ul {float:left; padding-top:25px; line-height:1;}
.headerBottomW #divTopMenu > ul::after {content:''; display:block; clear:both;}
.headerBottomW #divTopMenu > ul > li {float:left; padding-left:123px;}
.headerBottomW #divTopMenu > ul > li:first-child {padding-left:0;}
.headerBottomW #divTopMenu > ul > li > a {font-size:19px; letter-spacing:-0.025em; color:#fff;}
.headerBottomW #divTopMenu > ul > li.on > a {position:relative; z-index:200; padding-bottom:30px; background:url('../../../../image/ko/local/topMenuArrow.png') no-repeat 50% 100%; color:#19bfdd; -webkit-transition:color 0.5s; -moz-transition:color 0.5s; -o-transition:color 0.5s; transition:color 0.5s;}
.headerBottomW #divTopMenu > .wholeMenuBtn {float:right; margin-top:22px;}
.headerBottomW #divTopMenu > .wholeMenuBtn > a {display:inline-block; margin-left:0; text-indent:-9999px; width:25px; height:23px; background:url('../../../../image/ko/local/wholeMenuBtn.png') no-repeat center top;}

@media (min-width:1025px) and (max-width:1200px){
    .headerBottomW {width:auto;}
    .headerBottomW #divTopMenu > ul {width:95%;}
    .headerBottomW #divTopMenu > ul > li {padding-left:8%;}
    .headerBottomW #divTopMenu > ul > li:first-child {padding-left:0%;}
}

/* subMenu */
.subMenu {display:none; position:absolute; z-index:150; left:0;top:163px; width:100%; height:376px; background:url('../../../../image/ko/local/main/subMenuBg.png') no-repeat 100% 0;}
.subMenu::before {content:''; position:absolute; top:0; left:0; width:34%; min-width:296px; height:100%; background:#cbe1f3;}
.subMenu .subMenuW {position:relative; width:1200px; height:100%; margin:0 auto;}
.subMenu .subMenuW .subLeft {float:left; width:296px; padding-bottom:200px; text-align:center;}
.subMenu .subMenuW .subLeft .subMTitle {font-size:27px; color:#6e6e6e; margin-top:68px;}
.subMenu .subMenuW .subLeft .subDetail {font-size:15px; color:#858585; margin-top:30px; line-height:1.4;}
.subMenu .subMenuW .subIcon1 {background:url('../../../../image/ko/local/subMenuBg1.png') no-repeat 50% 75%;}
.subMenu .subMenuW .subIcon2 {background:url('../../../../image/ko/local/subMenuBg2.png') no-repeat 50% 75%;}
.subMenu .subMenuW .subIcon3 {background:url('../../../../image/ko/local/subMenuBg3.png') no-repeat 50% 75%;}
.subMenu .subMenuW .subIcon4 {background:url('../../../../image/ko/local/subMenuBg4.png') no-repeat 50% 75%;}
.subMenu .subMenuW .subIcon5 {background:url('../../../../image/ko/local/subMenuBg5.png') no-repeat 50% 75%;}
.subMenu .subMenuW .subIcon6 {background:url('../../../../image/ko/local/subMenuBg6.png') no-repeat 50% 75%;}
.subMenu .subMenuW > ul {float:left; width:75%; height:100%;}
.subMenu .subMenuW > ul > li {float:left; width:226px; height:280px; margin:54px 0 0 31px; border-right:1px solid #c9dded; box-sizing:border-box;}
.subMenu .subMenuW > ul > li > p {font-size:18px; color:#2d2d2d; margin-bottom:30px;}
.subMenu .subMenuW > ul > li > ul > li {line-height:1; margin-bottom:15px;}
.subMenu .subMenuW > ul > li > ul > li:last-child {margin-bottom:0;}
.subMenu .subMenuW > ul > li > ul > li > a {font-size:16px; color:#606060;}
.subMenu .subMenuW > ul > li > ul > li > a > i {width:4px; height:4px; padding-left:20px; margin-left:-8px; background:url('../../../../image/ko/local/bullet1.png') no-repeat center center;}

@media (min-width:1025px) and (max-width:1200px){    
    .subMenu::before {width:30%;}
    .subMenu .subMenuW {width:auto;}
    .subMenu .subMenuW .subLeft {width:30%;}
    .subMenu .subMenuW > ul {width:70%;}
    .subMenu .subMenuW > ul > li {width:20%;}
}

/* wholeMenu */
.wholeMenu {display:none; position:fixed; z-index:500; top:0; left:0; z-index:999; width:100%; height:100%;  background:#08408b; overflow-y:auto;}
.wholeMenu > div {position:relative; width:1200px; margin:0 auto;}
.wholeMenu > div > h2 {font-weight:400; font-size:36px; color:#fff; text-align:center; padding:90px 0; line-height:1;}
.wholeMenu > div > ul:after {content:''; display:block; clear:both;}
.wholeMenu > div > ul > li {float:left; width:160px; margin-left:40px;}
.wholeMenu > div > ul > li:first-child {margin-left:0;}
.wholeMenu > div > ul > li a {color:#88b2ec;}
.wholeMenu > div > ul > li > a {display:block; border:2px solid #4778bb; padding:15px 0; box-sizing:border-box; font-size:18px; text-align:center;}
.wholeMenu > div > ul > li > a:hover {color:#fff; border-color:#fff; -webkit-transition:all 0.4s; -moz-transition:all 0.4s; -o-transition:all 0.4s; transition:all 0.4s;}
.wholeMenu > div > ul > li > ul {margin-top:25px;}
.wholeMenu > div > ul > li > ul > li {margin-bottom:60px; padding-left:20px; box-sizing:border-box;}
.wholeMenu > div > ul > li > ul > li > a {display:block; font-size:16px; color:#cadcf6; margin-bottom:10px;}
.wholeMenu > div > ul > li > ul > li > ul > li {line-height:1; margin-bottom:10px;}
.wholeMenu > div > ul > li > ul > li > ul > li:last-child {margin-bottom:0;}
.wholeMenu > div > ul > li > ul > li > ul > li a {display:inline-block; padding-left:10px; letter-spacing:-0.08em; background:url('../../../../image/ko/local/dash.png') no-repeat 0 50%;}
.wholeMenu > div > ul > li > ul > li > ul > li a:hover {color:#fff; text-decoration:underline; -webkit-transition:all 0.4s; -moz-transition:all 0.4s; -o-transition:all 0.4s; transition:all 0.4s; }
.wholeMenu > div > a.wholeCloseBtn {position:absolute; top:92px; right:0;}

@media (min-width:1025px){
    .wholeMenu > div > ul > li > ul {display:block !important;}
    .wholeMenu > div > ul > li > ul > li > ul {display:block !important;}
}

@media (min-width:1025px) and (max-width:1200px){
    .wholeMenu > div {width:auto;}
    .wholeMenu > div > ul > li {width:15%; margin-left:2%;}
    .wholeMenu > div > ul > li > a {width:100%;}
    
}

#divContents {width:100%; overflow:hidden;}


/* contents1 */
.contents1 {width:100%; height:440px; position:relative; overflow:hidden;}

.keyVisual {position:absolute;}
.keyVisual img {vertical-align:bottom; margin-top:-17px; max-width:100%; height:460px;}

.searchW {position:absolute; left:0; right:0; margin:0 auto; padding:80px 103px; box-sizing:border-box; width:1200px; height:375px;}
.searchW a {color:#fff;}
.searchForm {position:relative; width:100%; height:155px; background:url('../../../../image/ko/local/main/searchBg.png') repeat-x center center;}
.searchForm::after {content:''; display:block; clear:both;}
.searchForm > li {float:left; width:33%;}
.searchForm > li:nth-child(1) > a {background:#0c4ca3;}
.searchForm > li:nth-child(2) > a {background:#003c8e;}
.searchForm > li:nth-child(3) > a {background:#0c4ca3;}
.searchForm > li > a {font-size:19px; display:block; text-align:center; height:54px; line-height:54px;}
.searchForm > li.on {width:34%; background:none;}
.searchForm > li.on > a {font-size:22px; padding-bottom:5px; background:url('../../../../image/ko/local/main/searchDownArrow.png') no-repeat 50% 100%;}
.searchForm > li.on > form {display:block;}
.searchForm > li > form {display:none; position:absolute; top:95px; left:0; width:100%;}
.searchForm > li > form fieldset {position:relative; margin:0 60px; height:60px;}
.searchForm > li > form input.searchBox {width:100%; height:60px; border:none; padding-left:15px; box-sizing:border-box; font-family:NotoSansKRDL; font-size:16px; font-style:italic;}
.searchForm > li > form .searchLogBtn img {position:absolute; top:50%; right:75px; margin-top:-4px;}
.searchForm > li > form .searchBtn {position:absolute; top:50%; right:20px; margin-top:-17.5px; text-indent:-9999px; border:none; width:37px; height:37px; background:url('../../../../image/ko/local/main/searchBtn.png') no-repeat center center; cursor:pointer;}

@media (min-width:1025px) and (max-width:1200px){
    .searchW {width:auto;}
}

.searchLink {width:100%; padding:0 60px; box-sizing:border-box; background:url('../../../../image/ko/local/main/searchBg.png') repeat-x center center;}
.searchLink::after {content:''; display:block; clear:both;}
.searchLink > li {float:left; width:25%; text-align:center;}
.searchLink > li > a {height:62px; line-height:62px; font-size:15px; letter-spacing:-0.025em;}
.searchLink > li > a:hover {text-decoration:underline;}

.useHour {position:absolute; bottom:0; width:100%; height:65px; background:rgba(0,0,0,0.5);}
.useHour > div {position:relative; width:1200px;  margin:0 auto;}
.useHour p.hourTitle {float:left; font-size:14px; margin-top:21px; padding-left:37px; height:25px; line-height:25px; background:url('../../../../image/ko/local/main/clock.png') no-repeat left center;}
.useHour p.hourTitle > span {display:inline-block; color:#fff;}
.useHour p.hourTitle > a {width:16px; height:15px; background:url('../../../../image/ko/local/main/hourPlus.png') no-repeat center center; margin-top:4px; margin-left:27px;}
.useHour .rollingHour {position:absolute; top:22px; left:250px; width:50%; height:22px; color:#fff; overflow:hidden;}
.useHour .rollingHour > ul {position:absolute; width:100%;}
.useHour .rollingHour > ul > li > dl {overflow:hidden;}
.useHour .rollingHour > ul > li > dl > dt {font-size:15px; float:left; margin-right:50px;}
.useHour .rollingHour > ul > li > dl > dd {float:left;}
.useHour .rollingHour > ul > li > dl > dd > ul {overflow:hidden;}
.useHour .rollingHour > ul > li > dl > dd > ul > li {float:left; font-size:15px; background:url('../../../../image/ko/local/main/bullet1.png') no-repeat 0 10px; padding-left:20px; margin-right:36px;}
.useHour .rollingHour > ul > li > dl > dd > ul > li:last-child {margin-right:0;}
.useHour .rollingHour > ul > li > dl > dd > ul > li > span {margin-right:26px;}
.useHour p.attention {float:right; margin:22px 66px 0 0; color:#f67a7a;}
.useHour .hourControl {position:absolute; top:16px; right:0;}
.useHour .hourControl a {display:block; height:10px; }
.useHour .hourControl a.up {margin-bottom:17px;}
.useHour .hourControl a img {vertical-align:top;}

@media (min-width:1025px) and (max-width:1200px){
    .useHour > div {width:auto;}
    .useHour .rollingHour {left:220px;}
}

/* contents2 */
.contents2 {width:100%; height:147px; background:#f6f6f6;}
.quickMenuW {width:1200px; height:100%; margin:0 auto;}
.quickMenuW ul {padding-top:22px;}
.quickMenuW ul:after {overflow:hidden;}
.quickMenuW ul li {float:left; width:20%; text-align:center;}
.quickMenuW ul li a {display:inline-block; min-width:65px; padding-top:75px; color:#303030; font-size:16px;}
.quickMenuW ul li.quick1 a {background:url('../../../../image/ko/local/main/quickMenu1.png') no-repeat center top;}
.quickMenuW ul li.quick2 a {background:url('../../../../image/ko/local/main/quickMenu2.png') no-repeat center top;}
.quickMenuW ul li.quick3 a {background:url('../../../../image/ko/local/main/quickMenu3.png') no-repeat center top;}
.quickMenuW ul li.quick4 a {background:url('../../../../image/ko/local/main/quickMenu4.png') no-repeat center top;}
.quickMenuW ul li.quick5 a {background:url('../../../../image/ko/local/main/quickMenu5.png') no-repeat center top;}
.quickPrev {display:none;}
.quickNext {display:none;}

@media (min-width:1025px) and (max-width:1200px){
    .quickMenuW {width:auto;}
}

/* contents3 */
.contents3 {width:100%; height:472px;}
.contents3W {width:1200px; margin:0 auto; padding:45px 0; box-sizing:border-box;}
.contents3W .notice {float:left; width:50%;}
.contents3W h2 {line-height:1; margin-bottom:45px; font-family:NotoSansKR,sans-serif; font-size:26px; /* font-weight:500; */ color:#000;}
.contents3W h2 a {margin-left:15px;}
.notice ul li {position:relative; padding-right:200px; line-height:1; margin-bottom:20px;}
.notice ul li a {display:inline-block; max-width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; font-family:NotoSansKR,sans-serif; font-size:16px; color:#494949;}
.notice ul li a:hover {color:#000; text-decoration:underline;}
.notice ul li span {position:absolute; right:0; margin-right:45px; font-size:15px; color:#989898;}

.event {float:right; width:590px; height:100%;}
.event > div ul:after {content:''; display:block; clear:both;}
.event > div ul li {float:left; margin-left:32px; width:276px; height:306px; border:1px solid #eaeaea; box-sizing:border-box;}
.event > div ul li:first-child {margin-left:0;}
.event > div ul li > p {width:100%; height:143px; border-bottom:1px solid #eaeaea;}
.event > div ul li > p img {width:100%; vertical-align:bottom;}
.event > div ul li .eventTextBox {padding:18px 20px;}
.event > div ul li p.eventDate {font-family:NotoSansKRDL,sans-serif; font-size:15px; color:#909090; margin-bottom:5px;}
.event > div ul li p.eventTitle {font-size:18px; color:#000; line-height:1; margin-bottom:5px; letter-spacing:-0.025em;}
.event > div ul li p.eventDetail {width:100%; overflow:hidden; font-size:14px; color:#787878; line-height:1.3; letter-spacing:-0.035em;}
.event > a {display:none;}

@media (min-width:1025px) and (max-width:1200px){
    .contents3W {width:auto;}
    .contents3W .notice {width:41%;}    
}

/* contents4 */
.contents4 {width:100%; height:415px; background:url('../../../../image/ko/local/main/repeatBg.jpg') repeat-x 0 0;}
.contents4W {width:1200px; height:100%; margin:0 auto;}
.contents4W:after {content:''; display:block; clear:both;}


/* book */
.book {position:relative; float:left; width:750px; margin-top:50px;}
.book:after {content:''; display:block; clear:both;}
.book > ul {float:left;}
.book > ul > li {float:left; margin-left:18px; padding-left:20px; background:url('../../../../image/ko/local/bookVertical.png') no-repeat 0 50%;}
.book > ul > li:first-child {margin-left:0; padding-left:0;}
.book > ul > li > a.tab {color:#9e9e9e;font-size:20px;line-height:26px;}
.book > ul > li.on > a.tab {color:#000;font-size:26px}
.book > ul > li > div {display:none; position:absolute;top:58px;left:-10px;width:100%;height:276px;}  /* 유심히확인! */
.book > ul > li.on > div {display:block}   
.book > ul > li > div > a {position:absolute;top:80px;width:24px;height:53px;overflow:hidden;text-indent:-9999px;overflow:hidden;}
.book > ul > li > div > a.bookPrev {left:-25px;background:url('../../../../image/ko/local/main/bookPrev.png') no-repeat 0 0}
.book > ul > li > div > a.bookNext {right:-30px;background:url('../../../../image/ko/local/main/bookNext.png') no-repeat 0 0}
.book > ul > li > div > div {position:relative;width:100%;height:100%;left:10px;overflow:hidden;} /* 유심히확인2 */
.book > ul > li > div > div > ul {position:absolute;top:0;left:0;width:126%;}
.book > ul > li > div > div > ul > li {float:left;width:20%;margin-bottom:30px;}
.book > ul > li > div > div > ul > li a {display:block;width:153px;text-align:center}
.book > ul > li > div > div > ul > li a img {width:151px;height:213px;vertical-align:top;}
.book > ul > li > div > div > ul > li a span {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.book > ul > li > div > div > ul > li a span.bookTitle {margin-top:10px;color:#393939;font-size:15px}
.book > ul > li > div > div > ul > li a span.bookWriter {color:#909090;font-size:14px}
.book > a.bookMore {display:block; float:left; width:10px; height:10px; margin-top:2px; margin-left:17px; }


.eventZone {float:right; position:relative; margin-top:50px;  width:410px; height:316px;}
.eventZone ul li {position:absolute;}
.eventZone ul li.on a img {display:block;}
.eventZone ul li a img {display:none; width:100%;}
.eventZone .controller {position:absolute; bottom:0; width:100%; height:50px; padding:15px 15px 0 0; box-sizing:border-box; text-align:right; color:#fff; background:rgba(0,0,0,0.5);}
.eventZone .controller > span {display:block;}
.eventZone .controller > span > .leftCnt {color:#ffc600;}
.eventZone .controller .eventZonePrev {width:10px; height:10px;}
.eventZone .controller a {margin-left:11px;}

@media (min-width:1025px) and (max-width:1200px){
    .contents4W {width:auto;}
    .book {width:55%;}
    .book > ul > li > div > div > ul > li{width:27%;}
}

/* contents5 */
.contents5 {width:100%; height:92px; text-align:center;}
.contents5 .banner {width:1200px; height:100%; margin:0 auto; overflow:hidden;}
.banner .bannerList ul {width:1500px; height:100%;}
.banner .bannerList ul li {float:left; padding-right:92px; height:100%; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; transition:all 0.5s ease-in-out;}
.banner .bannerList ul li a img {width:100%;}

.banner .controller {display:none;}

@media (min-width:1025px) and (max-width:1200px){
    .contents5 .banner {width:auto;}
    .banner ul li {padding-right:52px;}
}

/* footer */
#divFooter {width:100%; height:250px;}
#divFooter .footerTop {height:51px; background:#9d9d9d;}
#divFooter .footerTop > div {width:1200px; margin:0 auto;}
#divFooter .footerTop > div > ul > li {float:left; position:relative; width:33.333%; text-align:center; border-right:1px solid #fff; box-sizing:border-box;        }
#divFooter .footerTop > div > ul > li:first-child {border:none; background:#929292;}
#divFooter .footerTop > div > ul > li > a {display:block; color:#fff; line-height:51px; font-size:16px;}
#divFooter .footerTop > div > ul > li > a.mainCall {background:url('../../../../image/ko/local/phoneIcon.png') no-repeat 30% 50%;}
#divFooter .footerTop > div > ul > li > a.mainCall span {display:block; background:url('../../../../image/ko/local/linkArrow.png') no-repeat 90% 50%;}
#divFooter .footerTop > div > ul > li > a.userGuide {background:url('../../../../image/ko/local/link1Bg.png') no-repeat 30% 50%;}
#divFooter .footerTop > div > ul > li > a.userGuide span {display:block; background:url('../../../../image/ko/local/linkUp.png') no-repeat 90% 50%;}
#divFooter .footerTop > div > ul > li > a.insideSite {background:url('../../../../image/ko/local/link2Bg.png') no-repeat 30% 50%;}
#divFooter .footerTop > div > ul > li > a.insideSite span {display:block; background:url('../../../../image/ko/local/linkUp.png') no-repeat 90% 50%;}
#divFooter .footerTop > div > ul > li.on > a span {background:url('../../../../image/ko/local/linkDown.png') no-repeat 90% 50%;}
#divFooter .footerTop > div > ul > li.on > a.mainCall span {background:url('../../../../image/ko/local/linkArrow.png') no-repeat 90% 50%;}
#divFooter .footerTop > div > ul > li > div {display:none; position:absolute; bottom:51px;width:100%; background:#ededed; border:1px solid #cbcbcb;}
#divFooter .footerTop > div > ul > li > div > ul > li > a {display:block; font-size:15px; padding:10px 20px; border-bottom:1px solid #d7d7d7; color:#333;}
#divFooter .footerTop > div > ul > li > div > ul > li > a:hover {background:#ccc; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -o-transition:all 0.3s; transition:all 0.3s;}
#divFooter .footerTop > div > ul > li > div > ul > li:last-child > a {border:none;}

#divFooter .footerBottom {width:100%; height:198px;}
#divFooter .footerBottom > div {width:1200px; height:100%; margin:0 auto;}
#divFooter .footerBottom > div > ul {margin-top:27px;}
#divFooter .footerBottom > div > ul:after {content:''; display:block; clear:both;}
#divFooter .footerBottom > div > ul.footLink1 > li {float:left; margin-right:17px; padding-right:17px; background:url('../../../../image/ko/local/footerVerticalBar.PNG') no-repeat 100% 50%;}
#divFooter .footerBottom > div > ul.footLink1 > li:last-child {margin-right:0; padding-right:0; background:none;}
#divFooter .footerBottom > div > ul.footLink1 > li > a {display:block; font-size:15px; color:#3a3a3a;}
#divFooter .footerBottom > div > ul.footLink1 > li > a > span.redColor {color:#e74900;}
#divFooter .footerBottom > div > ul.footLink2 > li {line-height:1.8;}
#divFooter .footerBottom > div > ul.footLink2 > li > span {margin-right:30px; font-family:NotoSansKRDL; color:#878686;}
#divFooter .footerBottom > div > ul.footLink2 > li > span:first-child {margin-right:41px;}
#divFooter .footerBottom > div > ul.footLink2 > li.copy {margin-top:19px; font-size:13px; font-family:Arial; color:#adacac;}

@media (min-width:1024px) and (max-width:1200px){
    #divFooter .footerTop > div {width:auto;}
    #divFooter .footerBottom > div {width:auto;}
}

/* dim */
#dim {position:absolute; top:230px; left:0; z-index:1; width:100%; height:160%; background:rgba(0,0,0,0.5);}
