@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swa&subset=korean');

/* reset css */
* {margin:0; padding:0;}
body {font:400 16px/1 'Noto Sans KR',sans-serif,Malgun Gothic,Arial; letter-spacing:-0.03em; color:#333;}
ul {list-style:none;}
a {text-decoration:none;}
.fl {float:left;} .fr {float:right;} .cb:after {content:""; display:block; clear:both;}
.hidden {text-indent:-10000px;}
.blind  { text-indent:-2000px; overflow:hidden; display:none; }
/*.blind2 {position:absolute; left:-1000%; top:0; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden;}*/
.blind {overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap}
.fNoto {font:400 16px 'Noto Sans KR',sans-serif; letter-spacing:-0.03em; color:#333;}
.fNsquareL {font:300 16px 'NanumSquare',sans-serif; letter-spacing:-0.03em; color:#333;}
.fNsquareR {font:400 16px 'NanumSquare',sans-serif; letter-spacing:-0.03em; color:#333;}
.fNsquareB {font:700 16px 'NanumSquare',sans-serif; letter-spacing:-0.03em; color:#333;}
.fNsquareEB {font:800 16px 'NanumSquare',sans-serif; letter-spacing:-0.03em; color:#333;}
.shadow {box-shadow:3px 8px 30px #bbb;}
::selection {background-color:#18c70f; color:white;}
.pop {display:none;} /* 모달 초기값 */


/* 레이아웃 시작 */
/* nav */
#wrapper {width:100%; height:100%; min-width:1024px; overflow:hidden;}
header {position:fixed; z-index:999; width:100%; top:0; left:0; height:72px; background:rgba(255,255,255,1); transition:top 0.2s ease-in-out; box-shadow:-10px -10px 30px #333;}
header h1 a {position:absolute; top:27%; left:1.3%; display:inline-block; font:600 16px 'Noto Sans KR'; color:#333; line-height:.9;}
header nav {position:absolute; top:-3px; right:0; bottom:0; left:0; margin:auto; width:900px; height:20px;}
header nav ul {float:left;}
header nav li {float:left; margin-left:110px;}
header nav li:nth-child(1) {margin-left:0;}
header nav li a {font:600 17px 'Noto Sans KR'; color:#333;  line-height:1; letter-spacing:1;}
header nav .on>a {color:#333;}
header nav li:hover a {color:#ec4b4b;}

/* 상단 스크롤시 헤더 등장 및 고정. js로 추가될 클래스*/
.nav-up {top:-102px;}


/* 메인배너 시작 */
/* 메인배너 좌측 텍스트 영역 */
#keyvisual {position:relative; top:0; width:100%; height:978px; background:#214354;}
#keyvisual .keyvisual_rel {position:relative; top:0; right:0; bottom:0; left:0; margin:0 auto; width:100%; max-width:1600px; height:100%;}
#keyvisual .keyvisual_rel .S1textBox1 {position:absolute; z-index:10; top:197px; left:15px; width:500px; height:490px;}
		.S1textBox1>p:nth-of-type(1) {font-weight:900; font-size:47px; letter-spacing:-0.03em; line-height:0.88; color:#f76c6c;}
		.S1textBox1>img {display:inline-block; margin-left:25px; margin-top:26px;}
		.S1textBox1>p:nth-of-type(2) {width:345px; height:132px; background:url('../images/mainCopy.png') no-repeat center center; margin-top:-5px; margin-left:-7px;}
		.S1textBox1>p:nth-of-type(3) {font-size:25px; font-weight:300; color:#ccc; margin-top:20px; line-height:1.2;}
		.S1textBox1>p:nth-of-type(3) b {font-weight:500;}
		.S1textBox1 div:nth-of-type(1) {position:relative; width:335px; height:46px; background:#999; border-radius:30px; margin-bottom:10px; margin-top:32px; background:#3cb878;}
		.S1textBox1 div:nth-of-type(1)>i {position:absolute; top:-18px; left:27px; bottom:0; margin:auto 0; width:47px; height:46px; background:url('../images/checkBox.png') no-repeat center center; line-height:45px;}
		.S1textBox1 div:nth-of-type(1)>p {font-size:23px; font-weight:400; color:#fff; line-height:45px; margin-left:70px;}
		.S1textBox1 div:nth-of-type(2) {position:relative; width:470px; height:46px; background:#999; border-radius:30px; margin-bottom:10px; margin-top:18px; background:#a186be;}
		.S1textBox1 div:nth-of-type(2)>i {position:absolute; top:-18px; left:27px; bottom:0; margin:auto 0; width:47px; height:46px; background:url('../images/checkBox.png') no-repeat center center; line-height:45px;}
		.S1textBox1 div:nth-of-type(2)>p {font-size:23px; font-weight:400; color:#fff; line-height:45px; margin-left:70px;}

/* 메인배너 우측 이미지 영역 */
.keyvisual_rel .rtImgBox {position:absolute; z-index:1; top:182px; right:0; width:985px; height:658px;}
		.rtImgBox img {position:absolute; top:10px; left:10px;}
		.rtImgBox img:nth-of-type(1) {top:13px; left:13px;}
		.rtImgBox img:nth-of-type(2) {top:21px; left:49px;}
		.rtImgBox img:nth-of-type(3) {top:54px; left:121px;}
		.rtImgBox img:nth-of-type(4) {top:97px; left:364px;}
		.rtImgBox img:nth-of-type(5) {top:206px; left:301px;}
		.rtImgBox img:nth-of-type(6) {top:121px; left:415px;}
		.rtImgBox img:nth-of-type(7) {top:110px; left:393px;}
		.rtImgBox img:nth-of-type(8) {top:340px; left:492px;}

.keyvisual_rel .down_scroll {position:absolute; width:40px; bottom:75px; left:0; right:0; margin:0 auto;}
.keyvisual_rel .down_scroll p {color:#fff; font-weight:400;}
.keyvisual_rel .down_scroll img {display:inline-block; margin:10px 0 20px 9px;}
.keyvisual_rel .white_digital {position:absolute; right:-155px; bottom:0; width:269px; height:155px; background:url('../images/digitalP.png') no-repeat center center;}


/* 사이드내비 */

#side_nav {position:fixed; z-index:999; right:35px; top:50%; margin-top:-100px; width:auto; height:auto;}
#side_nav ul li {display:block; width:100%; height:auto; padding:10px 0;}
#side_nav ul li a {display:inline-block; width:20px; height:20px; background:#ccc; border-radius:100%;}
#side_nav ul li a.active {display:inline-block; width:20px; height:20px; background:#eb6767; border-radius:100%;}




/* 인사말 */
#profile {width:100%; height:485px; background:#fff;}
		.introTextBox {width:100%; max-width:1600px; height:100%; margin:0 auto; padding-top:90px; box-sizing:border-box;}
		.introTextBox h2 {text-align:center; font-size:45px; letter-spacing:-0.06em; color:#333; text-align:center;}
		.introTextBox p {font-size:35px; letter-spacing:-0.03em; color:#333; text-align:center; line-height:1.3; margin-top:25px;}

/* 이력서 시작 */
/* 이력서 헤드부분 */
#resume_wrap {position:relative; z-index:1; width:100%; height:4900px; background:#f6f7fb;}
#resume_wrap article {position:relative; width:100%; max-width:1600px; height:100%; margin:0 auto;}

#resume_wrap .resume {position:relative; top:-140px; left:0; right:0; margin:auto; width:1014px; height:1394px; background:url('../images/whiteBox1.png') no-repeat center center/cover;}
			 .resume .head {position:absolute; top:30px; left:0; right:0; margin:0 auto; width:90%; height:292px; margin:0 auto; }
			 .resume .head img {position:absolute; top:52px; left:52px; display:inline-block;}
			 .resume .head .headTextBox {position:absolute; left:235px; width:325px; height:100%; padding-top:55px; box-sizing:border-box;}
			 .resume .head .headTextBox p:nth-of-type(1) {font-weight:500; font-size:22px;}
			 .resume .head .headTextBox p:nth-of-type(1)>i {width:1px; height:17px; background:#ccc; display:inline-block; vertical-align:middle; margin-bottom:4px;}
			 .resume .head .headTextBox p:nth-of-type(2) {font-size:22px; line-height:1; margin:13px 0 17px 0;}
			 .resume .head .headTextBox hr {border:.5px solid #ccc;}
			 .resume .head .headTextBox p:nth-of-type(3) {font-weight:500; font-size:17px; letter-spacing:0; margin-top:15px;}
			 .resume .head .headTextBox p:nth-of-type(4) {font-weight:500; font-size:14px; margin-top:15px;}
			 .resume .head .headTextBox p:nth-of-type(4)>span {font-weight:400; color:#777;}
			 .resume .head .headTextBox p:nth-of-type(5) {font-weight:500; font-size:14px; margin-top:10px; margin-bottom:5px;}
			 .resume .head .headTextBox p:nth-of-type(5)>span {font-weight:400; color:#777;}
			 .resume .head .headTextBox p:nth-of-type(6) {font-weight:500; font-size:14px; margin-top:10px; margin-bottom:0;}
			 .resume .head .headTextBox p:nth-of-type(6)>span {font-weight:400; color:#777;}
			 .resume .head .headTextBox p:nth-of-type(7) {margin-top:20px; float:left; font-size:15px; font-weight:400; letter-spacing:0;}
			 .resume .head .headTextBox p:nth-of-type(7) i {position:relative; top:-2.5px; display:inline-block; width:10px; height:20px; background:url('../images/phoneIcon1.png') no-repeat center center; margin-right:10px;}
			 .resume .head .headTextBox p:nth-of-type(8) {margin-top:20px; float:left; margin-left:15px; font-size:15px; font-weight:400;letter-spacing:-0.06em;}
			 .resume .head .headTextBox p:nth-of-type(8) i {display:inline-block; width:20px; height:16px; background:url('../images/mailIcon1.png') no-repeat center center; margin-right:8px; opacity:.6;}

#resume_wrap .resume .head .headIconBox {position:absolute; top:52px; right:52px; width:230px; height:250px;}
			 .resume .head .headIconBox ul {font:500 15px 'Noto Sans KR',sans-serif; text-align:center; line-height:1;}
			 .resume .head .headIconBox ul li {display:inline-block; width:105px; height:105px; background:#f8f1f1; border-radius:80px; float:left;}
			 .resume .head .headIconBox ul li i {display:inline-block; width:45px; height:45px; margin-top:17px;}
			 .resume .head .headIconBox ul li p {margin-top:-8px; line-height:1.1; letter-spacing:-0.05em;}
			 .resume .head .headIconBox ul li:nth-child(1) {margin-right:20px; margin-bottom:0px;}
			 .resume .head .headIconBox ul li:nth-child(1) i {background:url('../images/profileTopIcon.png') no-repeat -30px -35px;}
			 .resume .head .headIconBox ul li:nth-child(2) i {background:url('../images/profileTopIcon.png') no-repeat -101px -38px; margin-top:20px; width:39px; margin-left:2px;}
			 .resume .head .headIconBox ul li:nth-child(2) p {margin-top:-12px;}
			 .resume .head .headIconBox ul li:nth-child(3) {margin-right:20px; margin-top:20px;}
			 .resume .head .headIconBox ul li:nth-child(3) i {background:url('../images/profileTopIcon.png') no-repeat -30px -96px; width:40px;}
			 .resume .head .headIconBox ul li:nth-child(3) p {margin-top:8px; }
			 .resume .head .headIconBox ul li:nth-child(4) {margin-top:20px;}
			 .resume .head .headIconBox ul li:nth-child(4) i {background:url('../images/profileTopIcon.png') no-repeat -98px -101px; width:42px; height:36px; margin-top:20px;}
			 .resume .head .headIconBox ul li:nth-child(4) p {margin-top:10px;} 

			 .resume .head>hr {width:95%; margin:330px auto; border:1.2px dashed #ccc;}


/* 이력서 중앙 바이오 그래프 이미지 */
#resume_wrap .resume .biography {position:absolute; top:400px; right:0; bottom:0; left:0; margin:0 auto; display:inline-block;}

/* 이력서 하단 표 작업 */
#resume_wrap .resume .attribute {position:absolute; right:0; bottom:120px; left:0; margin:0 auto; width:87%; height:34%;}

			 .resume .attribute li {float:left; width:33%; height:230px; border:1.5px dotted #ccc; padding:25px; box-sizing:border-box;}
			 .resume .attribute li b {font-size:16px; font-weight:500;}
			 .resume .attribute li .bLeft {float:left; width:80%; text-align:left;}
			 .resume .attribute li .bRight {float:right; width:15%; color:#6666dd; text-align:right;}
			 .resume .attribute li .adivL {float:left; width:50%; margin-top:27px; text-align:left;}
			 .resume .attribute li .adivR {float:right; width:50%; margin-top:27px; text-align:right;}
			 
			 .resume .attribute>li:nth-child(1) {border-left:none; border-bottom:none;}
			 .resume .attribute>li:nth-child(1) img {float:left; margin-top:25px;}
			 .resume .attribute>li:nth-child(1) .adivR {float:right; margin-top:27px; width:80px; height:75px;}
			 .resume .attribute>li:nth-child(1) .adivR p:nth-child(1) {text-align:right; line-height:1.4;}
			 .resume .attribute>li:nth-child(1) .adivR p:nth-child(2) {font-size:13px; color:#666; text-align:right; margin-top:7px; line-height:1.2;}
					   
#resume_wrap .resume .attribute>li:nth-child(2) {border:none; border-top:1.5px dotted #ccc;}
			 .resume .attribute>li:nth-child(2) .adivL {width:75%; margin-top:30px; letter-spacing:-0.03em;}
			 .resume .attribute>li:nth-child(2) .adivL i:nth-of-type(1) {float:left; width:17px; height:17px; background:url('../images/trophy.png') no-repeat center center; margin-right:7px;}
			 .resume .attribute>li:nth-child(2) .adivL p:nth-of-type(1) {font-size:13px; margin-bottom:22px;}
			 .resume .attribute>li:nth-child(2) .adivL i:nth-of-type(2) {float:left; width:17px; height:17px; background:url('../images/trophy.png') no-repeat center center; margin-right:7px;}
			 .resume .attribute>li:nth-child(2) .adivL p:nth-of-type(2) {font-size:13px; margin-bottom:22px;}
			 .resume .attribute>li:nth-child(2) .adivL i:nth-of-type(3) {float:left; width:17px; height:17px; background:url('../images/trophy.png') no-repeat center center; margin-right:7px;}
			 .resume .attribute>li:nth-child(2) .adivL p:nth-of-type(3) {font-size:13px; line-height:1.2;}
			 .resume .attribute>li:nth-child(2) .adivR {width:25%; margin-top:28px;}
			 .resume .attribute>li:nth-child(2) .adivR p {font-size:12.5px; line-height:1; margin-bottom:24px; color:#888;}
			 .resume .attribute>li:nth-child(2) .adivR p:nth-child(1) {margin-top:2px;}

#resume_wrap .resume .attribute>li:nth-child(3) {border-right:none; border-bottom:none;}
			 .resume .attribute>li:nth-child(3) .adivL p {font-size:13px; margin-bottom:12px; line-height:1.4;}
			 .resume .attribute>li:nth-child(3) .adivL i {float:left; width:20px; height:20px; background:url('../images/license.png') no-repeat center center; margin-right:7px;}
			 .resume .attribute>li:nth-child(3) .adivR {width:25%; margin-top:28px;}
			 .resume .attribute>li:nth-child(3) .adivR p {font-size:12.5px; line-height:1; margin-bottom:36px; color:#888;}

#resume_wrap .resume .attribute>li:nth-child(4) {border:none; border-right:1.5px dotted #ccc; border-top:1.5px dotted #ccc;}
			 .resume .attribute>li:nth-child(4) .adivL {width:75%;}
			 .resume .attribute>li:nth-child(4) .adivL i {float:left; width:20px; height:25px; background:url('../images/outdoor.png') no-repeat center center; margin-right:7px; margin-top:-5px;}
			 .resume .attribute>li:nth-child(4) .adivL i:nth-of-type(2) {margin-top:2px;}
			 .resume .attribute>li:nth-child(4) .adivL i:nth-of-type(3) {margin-top:3px;}
			 .resume .attribute>li:nth-child(4) .adivL p {font-size:13px; margin-bottom:20px; line-height:1.2;}
			 .resume .attribute>li:nth-child(4) .adivR {width:25%; margin-top:28px;}
			 .resume .attribute>li:nth-child(4) .adivR p {font-size:12.5px; line-height:1; margin-bottom:22px; color:#888;}
			 .resume .attribute>li:nth-child(4) .adivR p:nth-of-type(3) {margin-top:35px;}

#resume_wrap .resume .attribute>li:nth-child(5) {border-left:none; border-right:none; border-bottom:none;}
			 .resume .attribute>li:nth-child(5) .adivL {width:80%;}
			 .resume .attribute>li:nth-child(5) .adivL ul {width:100%; height:150px;}
			 .resume .attribute>li:nth-child(5) .adivL ul li {border:none; padding:0; width:100%; height:22px; margin-bottom:10px;}
			 .resume .attribute>li:nth-child(5) .adivL ul li span {display:inline-block; width:40%; text-align:left; font-size:13px;}
			 .resume .attribute>li:nth-child(5) .adivL ul li i {display:inline-block; width:55%; height:10px; background:#c3c3ff; border:1px solid #333; box-sizing:border-box; text-align:left; vertical-align:middle; margin-top:-3px; margin-left:5%;}
			 .resume .attribute>li:nth-child(5) .adivL ul li:nth-of-type(1) i {width:50%;}
			 .resume .attribute>li:nth-child(5) .adivL ul li:nth-of-type(2) i {width:30%;}
			 .resume .attribute>li:nth-child(5) .adivL ul li:nth-of-type(3) i {width:55%;}
			 .resume .attribute>li:nth-child(5) .adivL ul li:nth-of-type(4) i {width:50%;}
			 .resume .attribute>li:nth-child(5) .adivL ul li:nth-of-type(5) i {width:35%;}
			 .resume .attribute>li:nth-child(5) .adivR {width:20%;}
			 .resume .attribute>li:nth-child(5) .adivR p {font-size:12.5px; line-height:1; margin-bottom:21px; color:#888;}
							   
#resume_wrap .resume .attribute>li:nth-child(6) {border-right:none; border-bottom:none;}
			 .resume .attribute>li:nth-child(6)>img {display:inline-block; margin-top:30px; opacity:.8;}
			 .resume .attribute>li:nth-child(6) b.bRight {width:20%;}
			 .resume .attribute>li:nth-child(6) .adivR {}
			 .resume .attribute>li:nth-child(6) .adivR p:nth-of-type(1) {margin-bottom:10px; line-height:1.3;}
			 .resume .attribute>li:nth-child(6) .adivR p:nth-of-type(2) {font-size:12.5px; color:#888;}


/* 개인 역량 ~직무능력 그래프 시작 (capability 영역) */
/* view 영역 좌우 한계선 section:nth-of-type(3) article 에서 -> section.capability 로 변경 */
#resume_wrap .capability {position:absolute; top:1500px; width:100%; height:62%; margin:0 auto; background:#f6f7fb;}

			 .capability .capTextBox {position:absolute; width:330px; height:250px; left:13%; top:-15px;}
			 .capability .capTextBox h3 {font-size:50px;  margin-bottom:15px;}
			 .capability .capTextBox p {font-size:19px; line-height:1.6; letter-spacing:-0.06em;}
			 
			 .capability .capRightBox {position:relative; top:-120px; left:39.5%; width:935px; height:800px;}
			 .capability .capRightBox>.R_WhiteBox1 {position:relative; top:0; width:100%; height:329px; background:url('../images/whiteBox2.png') no-repeat center center;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1) {position:absolute; top:0; right:0; width:100%; height:100%;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li {position:absolute; text-align:center; font:400 16px 'NanumSquare',sans-serif;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(1) {width:30%; height:100%; margin:auto 0; top:50%; right:0; bottom:0; left:6%; }
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(1)>i {width:125px; height:88px; background:url('../images/speedIcon.png') no-repeat center center; display:inline-block; margin-top:-5px; -webkit-transition:all .5s; -moz-transition:all .5s; -o-transition:all .5s; transition:all .5s;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(1):hover i {background:url('../images/speedIconHover.png') no-repeat center center;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(1) p {margin-top:20px; font-size:20px; font-weight:400; line-height:1.2;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(1) p>span {display:inline-block; background:url('../images/mosaic.png') no-repeat center center/cover; width:17px; height:19px; vertical-align:middle; margin:0 0 4px 2.5px;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(2) {width:30%; height:100%; margin:auto; top:43%; right:0; bottom:0; left:0; }
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(2)>i {width:132px; height:83px; background:url('../images/infinityIcon.png') no-repeat center center; display:inline-block; margin-top:-5px; -webkit-transition:all .5s; -moz-transition:all .5s; -o-transition:all .5s; transition:all .5s;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(2):hover i {background:url('../images/infinityIconHover.png') no-repeat center center;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(2) p {margin-top:20px; font-size:20px; font-weight:400; line-height:1.2;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(3) {width:30%; height:100%; margin:auto; top:43%;  bottom:0; right:6%; }
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(3)>i {width:104px; height:91px; background:url('../images/excitingIcon.png') no-repeat center center; display:inline-block; margin-top:-5px; -webkit-transition:all .5s; -moz-transition:all .5s; -o-transition:all .5s; transition:all .5s;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(3):hover i {background:url('../images/excitingIconHover.png') no-repeat center center;}
			 .capability .capRightBox>.R_WhiteBox1>ul:nth-of-type(1)>li:nth-of-type(3) p {margin-top:15px; font-size:20px; font-weight:400; line-height:1.2;}

#resume_wrap .capability .capRightBox>.R_WhiteBox2 {position:absolute; top:40%; width:100%; height:329px; background:url('../images/whiteBox2.png') no-repeat center center;}

			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1) {position:absolute; top:0; right:0; width:100%; height:100%;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li {position:absolute; text-align:center; font:400 16px 'NanumSquare',sans-serif;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(1) {width:30%; height:100%; margin:auto 0; top:45%; right:0; bottom:0; left:6%; }
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(1)>i {width:95px; height:89px; background:url('../images/talkIcon.png') no-repeat center center; display:inline-block; margin-top:-5px; -webkit-transition:all .5s; -moz-transition:all .5s; -o-transition:all .5s; transition:all .5s;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(1):hover i {background:url('../images/talkIconHover.png') no-repeat center center;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(1) p {margin-top:20px; font-size:20px; font-weight:400; line-height:1.2;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(1) p>span {display:inline-block; background:url('../images/mosaic.png') no-repeat center center/cover; width:17px; height:19px; vertical-align:middle; margin:0 0 4px 2.5px;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(2) {width:30%; height:100%; margin:auto; top:48%; right:0; bottom:0; left:0; }
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(2)>i {width:53px; height:88px; background:url('../images/batteryIcon.png') no-repeat center center; display:inline-block; margin-top:-5px; -webkit-transition:all .5s; -moz-transition:all .5s; -o-transition:all .5s; transition:all .5s;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(2):hover i {background:url('../images/batteryIconHover.png') no-repeat center center;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(2) p {margin-top:20px; font-size:20px; font-weight:400; line-height:1.2;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(3) {width:30%; height:100%; margin:auto; top:48%;  bottom:0; right:6%; }
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(3)>i {width:92px; height:92px; background:url('../images/exerciseIcon.png') no-repeat center center; display:inline-block; margin-top:-5px; -webkit-transition:all .5s; -moz-transition:all .5s; -o-transition:all .5s; transition:all .5s;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(3):hover i {background:url('../images/exerciseIconHover.png') no-repeat center center;}
			 .capability .capRightBox>.R_WhiteBox2>ul:nth-of-type(1)>li:nth-of-type(3) p {margin-top:15px; font-size:20px; font-weight:400; line-height:1.2;}
			 
			 .capability figure {position:relative; top:-170px; width:772px; height:700px; overflow:hidden;}
			 .capability .movieArea {position:absolute; top:10px; left:30px; max-width:770px;}
			 .capability .movieTextBox {position:absolute; top:800px; right:4%; width:500px; text-align:left;}				
			 .capability .movieTextBox h3 {font-size:50px; line-height:1; letter-spacing:-0.06em; margin-bottom:30px;}
			 .capability .movieTextBox .mbti_top {display:inline-block; font-size:30px; line-height:2;}
			 .capability .movieTextBox .mbti_middle {display:inline-block; line-height:1;}
			 .capability .movieTextBox .mbti_bottom {display:inline-block; font-size:40px; line-height:1; color:#37b72d; margin-top:15px;}
			 .capability .movieTextBox p {font-size:19px; line-height:1.6; letter-spacing:-0.06em; text-align:justify; margin-bottom:35px;}
			 
			 .capability .skillTextBox {position:absolute; top:1800px; left:9.5%;}
			 .capability .skillTextBox h3 {font-size:50px; line-height:1.2; letter-spacing:-0.06em; margin-bottom:50px;}
			 .capability .skillTextBox p {font-size:19px; line-height:1.6; letter-spacing:-0.06em;}
			 .capability .skillGraph {position:absolute; top:1600px; right:-2%; width:988px; height:1221px;  background:url('../images/whiteBox3.png') no-repeat center center;}

/* 표 생성 3x3 */
#resume_wrap .capability .skillGraph>ul {width:100%; height:100%; padding:70px; padding-left:95px; box-sizing:border-box;}
			 .capability .skillGraph>ul li {float:left; width:33%; height:33%; border:1.5px dotted #ccc; box-sizing:border-box; text-align:center; }
			 
			 .capability .skillGraph>ul li p {font:600 14px 'NanumSquare',sans-serif;}
			 .capability .skillGraph>ul li p:nth-of-type(1) {position:relative; width:130px; height:130px; margin:34px auto 0; font-family:Noto Sans KR,sans-serif; letter-spacing:-0.06em;}
			 .capability .skillGraph>ul li p:nth-of-type(1)>span.percent {position:absolute; top:0; right:0; bottom:0; left:0; margin:50px auto; text-align:center; font-size:30px; font-weight:800; color:555; line-height:1;}
			 
			 .capability .skillGraph>ul li .height span.percent {margin:35px 0 !important;}				
			 .capability .skillGraph>ul li .height>span.percent>span {position:absolute; text-align:center; top:30px; right:0; bottom:0; left:0; margin:auto; font-size:20px;}
			 
			 .capability .skillGraph>ul li:nth-child(9)>p {top:0.5%; font:400 19px 'NanumSquare',sans-serif; width:100%; height:30%; line-height:1.4;}
			 
			 .capability .skillGraph>ul li .graph_desc {padding:0 50px; box-sizing:border-box;}
			 
			 
			 /* 표 셀 작업 보더삭제  */
			 /* 1,3,7,9번 li 전체 보더삭제 */
			 .capability .skillGraph>ul li:nth-child(1),
						 .skillGraph>ul li:nth-child(3),
						 .skillGraph>ul li:nth-child(7),
						 .skillGraph>ul li:nth-child(9) {border:none;}
			 
			 /* 4번 li 오른쪽 보더삭제 */
			 .capability .skillGraph>ul li:nth-child(4) {border-right:none;}
			 
			 /* 6번 li 왼쪽 보더삭제 */
			 .capability .skillGraph>ul li:nth-child(6) {border-left:none;}
			 
			 
			 /* 2,4,6,8번 li 상하좌우 보더삭제 */
			 .capability .skillGraph>ul li:nth-child(2) {border-top:none; border-bottom:none;}
			 .capability .skillGraph>ul li:nth-child(4) {border-left:none;}
			 .capability .skillGraph>ul li:nth-child(6) {border-right:none;}
			 .capability .skillGraph>ul li:nth-child(8) {border-top:none; border-bottom:none;}
			 
			 /* 표 내부 작업 */
			 .capability .skillGraph>ul li img  {display:inline-block; margin-top:13%;}
			 .capability .skillGraph>ul li p {font-size:19px; line-height:1.5; font-weight:400; margin-top:25px; letter-spacing:-0.06em;}
			 
			 .capability .skillGraph>ul li:nth-child(9) img {margin-top:24%;}
			 .capability .skillGraph>ul li:nth-child(9) p {margin-top:56px;}
			 
			 /* capability 영역 종말부 이미지영역 */
			 .sectionFooter {position:relative; bottom:300px; width:100%; height:300px; background:url('../images/sectionFooterBanner.jpg') no-repeat center center/cover; background-attachment:fixed; padding:30px; box-sizing:border-box;}
			 .sectionFooter .sectionFooter_rel {width:100%; max-width:1000px; height:100%; margin:0 auto;}
			 .sectionFooter .sectionFooter_rel p {position:absolute; top:0; right:0; bottom:0; left:0; margin:auto 0; width:500px; height:90px; font-size:35px; line-height:1.3; color:#fff;}
			 .sectionFooter .sectionFooter_rel p>span {font-weight:600;}
			 
			 

/* portfolio 영역 시작 */
section:nth-of-type(4) {position:relative; width:100%; height:auto; background:#fff;}
section:nth-of-type(4) article {width:57.5%; height:auto; margin:0 auto; padding-top:80px; box-sizing:border-box;}
section:nth-of-type(4) article>h3 {text-align:center; font-size:50px; margin-bottom:50px;}
section:nth-of-type(4) article>p:nth-of-type(1) {font-size:18px; margin:-10px auto 70px; width:220px;}

/* tab메뉴,라이트 박스 시작 */
/* tab메뉴 nav */
section:nth-of-type(4) article div#pf_container {width:100%; min-width:1094px; height:auto;}
				#pf_container .tabs {width:82%; height:auto; background:#f6f6f6; border-radius:60px; margin:0 auto 50px;}
					.tabs li {display:inline-block; border-radius:60px; margin-right:-3px; width:25%; height:40px; background:#f6f6f6; text-align:center; line-height:40px; cursor:pointer;}
					.tabs .active {background:#e91c34; color:#fff;} 
					.tab_container {width:100%; height:auto;}
					.tab_container .tab_content {width:100%; height:auto;}
						.tab_content ul {width:100%; height:100%; margin-bottom:110px;}
						.tab_content ul li {float:left; width:340px; height:256px; margin-right:3%; margin-bottom:13%; }
						.tab_content ul li:nth-child(3n) {margin-right:0;}
						.tab_content ul li a {display:block; width:100%; height:100%;}
						
						.tab_content ul li .pf_text {}
						.tab_content ul li .pf_text .pf_top_txt1 {margin-top:20px; margin-left:10px;}
						.tab_content ul li .pf_text .pf_top_txt1 p:nth-of-type(1) {float:left; width:80%; color:#333; font-weight:600; font-size:18px;}
						.tab_content ul li .pf_text .pf_top_txt1 a {float:right; width:40px; text-align:right; color:#9798a1; font-weight:600; font-size:14px; margin-right:15px;}
						.tab_content ul li .pf_text .pf_top_txt2 {width:100%; margin-top:15px; margin-left:10px; font-size:12px; color:#9798a1; line-height:21px; text-align:center;margin-right:15px;}
						.tab_content ul li .pf_text .pf_top_txt2 p {float:left; margin-right:15px; width:20%; height:21px; background:#f6f6f6;}
						.tab_content ul li .pf_text .pf_top_txt2 p>span {}


section:nth-of-type(5) {position:relative; width:100%; height:330px; background:#fafafe;}
section:nth-of-type(5) div {position:absolute; top:0; right:0; bottom:0; left:0; margin:0 auto; width:55%; height:100%; background:#fafafe;}
section:nth-of-type(5) div h3 {margin:85px 0 30px; font-size:28px;}
section:nth-of-type(5) div h3 span {color:#de2a2a;}
section:nth-of-type(5) div p {font:600 17px 'NanumSquare',sans-serif; letter-spacing:-0.03em; line-height:1.5;}
section:nth-of-type(5) div p:nth-of-type(1) {margin-bottom:20px;}

footer {position:relative; width:100%; height:310px; background:#214354;}
footer address {position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:55%; height:100%; background:#214354;}
footer address .address {width:100%; height:83px; text-align:center; margin-top:80px; color:#fff; font-style:normal; font-weight:normal;}
			   .address a {}
			   .address a img {display:inline-block; vertical-align:middle; margin-right:40px;}
			   .address p {display:inline-block; font:700 20px 'NanumSquare',sans-serif; margin-right:45px; letter-spacing:0;}
			   .address p:nth-of-type(3) {font-weight:500;}
			   .address p>i {display:inline-block;}
			   .address i {display:inline-block; margin-top:-5px; vertical-align:middle;}
			   .address>i:nth-of-type(1) {width:17px; height:32px; background:url('../images/whiteMobileIcon.png') no-repeat center center; margin-right:20px;}
			   .address>i:nth-of-type(2) {width:30px; height:32px; background:url('../images/whiteMailIcon.png') no-repeat center center; margin-right:20px;}
			   
footer address p {color:#fff; font-style:normal; font:400 16px 'Malgun Gothic',sans-serif; text-align:center;}



