@charset "utf-8";

#wrap {min-width:320px}

.topInfo {position:relative; height:auto; background:#0d96b8;}
.topInfoW {width:auto;}
.topInfoW .topCloseBtn {width:100%; height:30px; background:#017394;}
.topInfoW .topCloseBtn > a {top:-2px; right:0; background:url('../../../../image/ko/local/todayClose.png') no-repeat center center; background-size:12px 12px;}
.topInfoW .topCloseBtn > label {display:inline-block; position:absolute; top:5px; right:40px; color:#fff;}
.topInfoW .topCloseBtn > label > input {margin-right:8px;}
.topInfoW .openMsg {position:absolute; width:100%;top:5px; height:65px;}
.topInfoW .openMsg p.openMessage1 {position:absolute; top:0; left:0; width:100%; margin:14px 0 0 0;}
.topInfoW .openMsg p.openMessage2 {display:none;}

/* header */
.headerTop {position:relative; height:120px;}
.headerTopW { width:auto;}
.headerTopW #divGlobalMenu {position:relative; top:0; right:0; width:100%; height:auto; margin-top:0;}
.headerTopW #divGlobalMenu .locationBtn {position:static; margin-top:0;}
.headerTopW #divGlobalMenu .locationBtn > li {margin-right:0;}
.headerTopW #divGlobalMenu .locationBtn > li > a {height:30px; border:0; border-right:1px solid #ccc; box-sizing:border-box; line-height:30px;}
.headerTopW #divGlobalMenu .locationBtn > li.on > a {background:#0c4ca3; color:#fff;}
.headerTopW #divGlobalMenu .profile {position:static; height:25px; margin-right:0; padding:2.5px 10px; box-sizing:border-box; background:#e7e7e7;}
.headerTopW #divGlobalMenu .profile > li {background:none;}
.headerTopW #divGlobalMenu .profile > li.summary {position:absolute; top:145px;}
.headerTopW #divGlobalMenu .profile > li.summary a {padding:5px 6px 5px 18px;}
.headerTopW #divGlobalMenu .profile > li.mobileID {display:block; position:absolute; top:145px; left:105px;}
.headerTopW #divGlobalMenu .profile > li.mobileID a {background:#2683e2 url('../../../../image/ko/local/mobileID.png') no-repeat 8% 50%; background-size:10px 15px; color:#fff; border-radius:3px; padding:5px 6px 5px 23px;}
.headerTopW #divGlobalMenu .profile > li.univ {position:absolute; top:4px; right:10px;}
.headerTopW #divGlobalMenu .profile > li.langBtn {position:absolute; right:20px;}
.headerTopW .logo {position:static; margin:15px 0 0 20px;}
.headerTopW .logo a{display:inline-block; width:175px; height:29px; text-indent:-9999px; overflow:hidden; background:url('../../../../image/ko/local/logoM.png') no-repeat 0 0; background-size:175px 29px;}
.headerBottomW {width:auto;}
.headerBottomW #divTopMenu > ul {display:none;}

.wholeMenu > div > a.wholeCloseBtn {position:absolute; top:-48px; right:20px; width:20px; height:20px; background:url('../../../../image/ko/local/wholeCloseM.png') no-repeat center center; background-size:20px 20px;}
.wholeMenu > div > a.wholeCloseBtn img {display:none;} 
.wholeMenuBtn {width:auto; margin-right:20px;}
.wholeMenu {position:absolute; top:190px; height:auto; overflow-y:visible;}
.wholeMenu > div {width:auto; height:100%;}
.wholeMenu > div > h2 {display:none;}
.wholeMenu > div > ul > li {float:none; margin-left:0; width:auto; border-bottom:1px solid #3b6eb2; background:#08408b;}
.wholeMenu > div > ul > li > a {border:none; margin:0 20px; color:#fff; text-align:left; background:url(../../../../image/ko/local/menuArrow1.png) no-repeat 100% 50%; background-size:11px 18px;}
.wholeMenu > div > ul > li > ul {position:static; margin-top:0; width:100%; height:100%;}
.wholeMenu > div > ul > li > ul > li {margin-bottom:0; padding:0 20px; background-color:#fff; border-bottom:1px solid #ebebeb;}
.wholeMenu > div > ul > li > ul > li.on {background:#7d7d7d;}
.wholeMenu > div > ul > li > ul > li > a {margin-bottom:0; display:block; padding:15px 0 15px 0; color:#535354; font-size:18px; background:url(../../../../image/ko/local/menuArrow3.png) no-repeat 100% 50%; background-size:11px 18px;}
.wholeMenu > div > ul > li > ul > li.on > a {background:url(../../../../image/ko/local/menuArrow4.png) no-repeat 100% 50% #7d7d7d;background-size:18px 11px;color:#fff;}
.wholeMenu > div > ul > li > ul > li > ul {display:block; background-color:#ebebeb; margin:0 -20px; padding:5px 0;}
.wholeMenu > div > ul > li > ul > li > ul > li {padding:5px 20px;}
.wholeMenu > div > ul > li > ul > li > ul > li > a {color:#535354;font-size:15px;}




/* contents1 */
.searchW {width:auto; padding:50px 15px;}
.searchForm {position:relative; width:100%; height:155px; padding-bottom:25px;}
.searchForm > li > form fieldset {position:relative; margin:0 20px; height:60px; }
.searchForm > li > a {font-size:17px;}
.searchForm > li.on > a {font-size:20px;}
.searchBox {padding:0 120px 0 0; box-sizing:border-box;}
.searchLink {background:#1352a7; padding:15px;}
.searchLink > li {width:25%;}
.searchLink > li > a {font-size:14px; line-height:25px;}


.useHour {height:115px;}
.useHour > div {width:auto; padding:0 20px;}
.useHour p.hourTitle {float:none; font-size:14px; margin-top:10px; padding-left:37px; height:25px; line-height:25px; background:url('../../../../image/ko/local/main/clock.png') no-repeat left center;}
.useHour p.attention {float:none; margin:50px 0 0 0; color:#f67a7a;}
.useHour .rollingHour {position:absolute; top:27px; left:20px; width:80%; height:40px;}
.useHour .rollingHour > ul {position:absolute; width:100%;}
.useHour .rollingHour > ul > li > dl > dt {margin:10px 20px 0 0;}
.useHour .rollingHour > ul > li > dl > dd > ul > li {float:none; padding-left:10px; margin-right:0px;}
.useHour .rollingHour > ul > li > dl > dd > ul > li > span {margin-right:16px;}
.useHour .hourControl {right:20px;}


/* contents2 */
.quickMenuW {position:relative; width:auto; padding:0 30px;}
.quickMenuW > div {position:relative; height:147px; overflow:hidden;}
.quickMenuW > div > ul {position:absolute; top:0; left:0; width:200%;}
.quickMenuW > div > ul > li {width:16.6%;}
.quickMenuW > div > ul > li a {display:block; word-break:break-all; width:auto; padding:75px 10px 0; font-size:15px; line-height:17px;}
.quickPrev {display:block; position:absolute; top:60px; left:10px; width:11px; height:19px; background:url(../../../../image/ko/local/main/quickPrev.png) no-repeat 0 0;background-size:11px 19px; text-indent:-9999px; overflow:hidden;}
.quickNext {display:block; position:absolute; top:60px; right:10px; width:11px; height:19px; background:url(../../../../image/ko/local/main/quickNext.png) no-repeat 0 0;background-size:11px 19px; text-indent:-9999px; overflow:hidden;}

.contents3 {width:100%; height:auto;}
.contents3W {width:auto;}
.contents3W h2 {margin-bottom:30px;}
.contents3W .notice {float:none; width:100%; padding:0 20px; margin-bottom:35px; }



.event {float:none; width:100%; height:100%;}
.event h2 {padding-left:20px;}
.event > div > ul {position:static;}
.event > div ul li {float:none; width:100%; max-width:440px; height:400px; margin:0 auto;}
.event > div ul li:first-child {margin:0 auto 30px;}
.event > div ul li > p {width:100%; height:auto; overflow:hidden;}
.event > div ul li > p img {vertical-align:bottom;}



/* contents4 */
.contents4 {height:820px;}
.contents4W {width:auto; padding:0 20px;}
.book {float:none; width:100%; top:20px;}
.book > ul > li:first-child {background:none;}
.book > ul > li > div > a.bookPrev {left:10px;}
.book > ul > li > div > a.bookNext {right:-25px;}
.book > ul > li > div > div {left:55px; width:90%;}
.book > ul > li > div > div > ul {width:135%;}
.book > ul > li > div > div > ul > li{width:40%;}
.eventZone {float:none; position:relative; top:430px; margin:0 auto;  width:410px; height:316px;}

@media (max-width:450px){
    .contents4 {height:720px;}
    .book > ul > li > div > div > ul > li{width:60%; margin-left:35px;}
    .eventZone {width:290px;}
    .eventZone .controller {bottom:91px;}
}


/* contents5 */
.contents5 {position:relative;}
.contents5 .banner {width:auto; margin-left:145px;}
.banner .bannerList {position:relative; width:100%; height:100%;}
.banner .bannerList ul {position:absolute; width:200%;}
.banner .bannerList ul li {width:50%; padding:0;}
.banner .bannerList ul li a img {width:auto;}
.banner .controller {display:block; position:absolute; left:30px; top:50%; margin-top:-14.5px;}
.banner .controller a {float:left; display:inline-block; border:1px solid #efefef;}
.banner .controller a.play {display:none;}
.banner .controller a img {display:inline-block; width:25px; height:25px; vertical-align:top;}


/* footer */
#divFooter .footerTop {height:auto;}
#divFooter .footerTop > div {width:auto;}
#divFooter .footerTop > div > ul > li {float:none; width:100%; text-align:left;}
#divFooter .footerTop > div > ul > li > div {position:static;}
#divFooter .footerTop > div > ul > li > a.mainCall {padding-left:45px; background:url('../../../../image/ko/local/phoneIcon.png') no-repeat 3% 50%;}
#divFooter .footerTop > div > ul > li > a.mainCall span {background:url('../../../../image/ko/local/linkArrow.png') no-repeat 90% 50%;}
#divFooter .footerTop > div > ul > li > a.userGuide {padding-left:45px; background:url('../../../../image/ko/local/link1Bg.png') no-repeat 3% 50%;}
#divFooter .footerTop > div > ul > li > a.userGuide span {background:url('../../../../image/ko/local/linkDown.png') no-repeat 90% 50%;}
#divFooter .footerTop > div > ul > li > a.insideSite {padding-left:45px; background:url('../../../../image/ko/local/link2Bg.png') no-repeat 3% 50%;}
#divFooter .footerTop > div > ul > li > a.insideSite span {background:url('../../../../image/ko/local/linkDown.png') no-repeat 90% 50%;}
#divFooter .footerTop > div > ul > li.on > a span {background:url('../../../../image/ko/local/linkUp.png') no-repeat 90% 50%;}

#divFooter .footerBottom > div {width:auto; height:auto; padding:20px;}
#divFooter .footerBottom > div > ul {margin-top:0;}
#divFooter .footerBottom > div > ul.footLink2 > li {line-height:1.8; margin-top:20px;}
#divFooter .footerBottom > div > ul.footLink2 > li > span {display:block;}
#divFooter .footerBottom > div > ul.footLink2 > li > span.school {color:#373737;}

