@charset "utf-8";
@font-face{
    font-family:"Noto Sans KR";
	font-weight:600;
	src:url(../../../../style/font/NotoSansKR-Bold.eot);
    src:local('※'), url(../../../../style/font/NotoSansKR-Bold.woff) format('woff');
}
@font-face{
    font-family:"Noto Sans KR";
	font-weight:500;
	src:url(../../../../style/font/NotoSansKR-Medium.eot);
    src:local('※'), url(../../../../style/font/NotoSansKR-Medium.woff) format('woff');
}
@font-face{
    font-family:"Noto Sans KR";
	font-weight:400;
	src:url(../../../../style/font/NotoSansKR-Regular.eot);
    src:local('※'), url(../../../../style/font/NotoSansKR-Regular.woff) format('woff');
}
@font-face{
    font-family:"Noto Sans KR";
	font-weight:300;
	src:url(../../../../style/font/NotoSansKR-Light.eot);
    src:local('※'), url(../../../../style/font/NotoSansKR-Light.woff) format('woff');
}

input::-webkit-input-placeholder {color:#ffffff;}
input::-moz-placeholder {color:#ffffff;}
input:-moz-placeholder {color:#ffffff;}
input:-ms-input-placeholder {color:#ffffff;}
.pc_view {display:inline-block;}
.tablet_view {display:none;}
.mobile_view {display:none;}

/* HEADER START */
#divHeader {position:absolute;z-index:10000;width:100%;height:116px;border-bottom:1px solid rgba(255,255,255,0.4);font-family:'Noto Sans KR','Roboto',sans-serif;font-weight:500;letter-spacing:-0.4px}
#divHeader *{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

#divHeader a{display:inline-block;}
#divHeader span{display:inline-block;}
#divHeader .inner {width:100%;max-width:1248px;margin:0 auto;padding:0 24px;}
#divHeader .headerTop {position:relative;height:31px;margin-top:0px;-ms-transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#divHeader .headerTop ul {text-align:right;}
#divHeader .headerTop ul li {display:inline-block;}
#divHeader .headerTop ul li a {position:relative;padding:7px 13px;color:#a2a2a2;font-size:14px;text-align:center;letter-spacing:-0.5px;}
#divHeader .headerTop ul li a:hover {color:#dddddd;}
#divHeader .headerTop ul li a:before {content:'.';position:absolute;right:-3px;top:5px;font-weight:500;}
#divHeader .headerTop ul li:last-child a {padding-right:0;}
#divHeader .headerTop ul li:last-child a:before {content:'';}
#divHeader .headerBottom {position:relative;padding-top:12px;-ms-transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#divHeader .headerBottom h1 {float:left;width:214px;height:42px;-ms-transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#divHeader .headerBottom h1 a.logo {display:inline-block;margin-top:7px;text-indent:-4000px;width:214px;height:42px;background:url(../../../../image/ko/local/logo.png) no-repeat;}
#divHeader .headerBottom #divTopMenu {margin-left:215px;max-width:1248px;text-align:right;height:74px;}
#divHeader .headerBottom #divTopMenu > ul {display:inline-block;margin:0px 50px 0 0;text-align:left;}
#divHeader .headerBottom #divTopMenu > ul > li {float:left;display:inline-block;vertical-align:top;}
#divHeader .headerBottom #divTopMenu > ul > li > a {padding:16px 39px 35px;font-size:22px;color:#ffffff;font-weight:500;text-align:center;-ms-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;background-position:center 38px;}
#divHeader .headerBottom #divTopMenu > ul > li > a:hover {color:#0c2e86 !important;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu {position:absolute;display:block;left:0;top:85px;width:100%;height:315px;border-top:1px solid #eaeaea;display:block;overflow:hidden;background:#ffffff;display:none;opacity:0;filter: alpha(opacity=0);
	pointer-events:none;select:none;-ms-user-select:none;-webkit-user-select:none;
}
#divHeader .headerBottom #divTopMenu > ul > li.on > a {background:url(../../../../image/ko/local/menu_arrow.png) no-repeat center 46px;}
#divHeader .headerBottom #divTopMenu > ul > li.on .sub_menu {display:block;opacity:1.0;filter: alpha(opacity=1.0);-moz-opacity: 1.0;-ms-filter: "alpha(opacity=100)";
	pointer-events:auto;select:auto;-ms-user-select:auto;-webkit-user-select:auto;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.22);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.22);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.22);
}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner {height:100%;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner .menu_info {float:left;width:237px;height:100%;padding:0 17px;text-align:center;background:url(../../../../image/ko/local/menu_info_bg.png) no-repeat left top;background-size:100% 315px;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner .menu_info > div {display:table;width:100%;height:100%;text-align:cetner;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul {margin-left:237px;height:100%;background:#ffffff;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .menu_info .menuname {margin-top:166px;color:#fff;font-size:24px;font-weight:600;letter-spacing:-0.5px;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .menu_info .comment {display:inline-block;margin-top:34px;color:#8497c9;font-size:13px;letter-spacing:-0.5px;text-align:left;word-wrap:break-word;word-break:keep-all;}
#divHeader .headerBottom #divTopMenu > ul > li.divTopMenu1 .sub_menu .menu_info > div {background:url(../../../../image/ko/local/menu_ico1.png) no-repeat;background-position:center 68px;}
#divHeader .headerBottom #divTopMenu > ul > li.divTopMenu2 .sub_menu .menu_info > div {background:url(../../../../image/ko/local/menu_ico2.png) no-repeat;background-position:center 68px;}
#divHeader .headerBottom #divTopMenu > ul > li.divTopMenu3 .sub_menu .menu_info > div {background:url(../../../../image/ko/local/menu_ico3.png) no-repeat;background-position:center 68px;}
#divHeader .headerBottom #divTopMenu > ul > li.divTopMenu4 .sub_menu .menu_info > div {background:url(../../../../image/ko/local/menu_ico4.png) no-repeat;background-position:center 68px;}
#divHeader .headerBottom #divTopMenu > ul > li.divTopMenu5 .sub_menu .menu_info > div {background:url(../../../../image/ko/local/menu_ico5.png) no-repeat;background-position:center 68px;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li {width:100%;height:45px;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li:last-child {border:none;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li > span {float:left;width:163px;height:100%;padding-left:25px;background:#eef1f8;border-bottom:1px solid #ccd0db;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li > span a {line-height:45px;font-size:16px;font-weight:500;color:#2f2f2f;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li > ul {margin-left:163px;height:100%;padding-left:21px;border-bottom:1px solid #e4e4e4;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li > ul > li {float:left;height:100%;padding:0;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li > ul > li > a {position:relative;height:100%;padding-left:11px;margin-right:40px;font-size:14px;color:#555555;line-height:45px;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li > ul > li > a:before {content:'•';height:30px;overflow:hidden;font-size:20px;color:#a9a9a9;position:absolute;left:0;top:-2px;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li > ul > li > a:hover {color:#393939;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li > ul > li > a:hover:before {color:#585858;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li > ul > li:last-child > a {margin-right:0;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li:hover span {background:#d5e5ff;}
#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li:hover > ul  {background:#e9effe;}
#divHeader .headerBottom .wholeMenuBtn {float:right;margin:8px -10px 0 0;display:inline-block;padding:10px;-ms-transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#divHeader .headerBottom .wholeMenuBtn span {display:block;width:28px;height:2px;background:#ffffff;}
#divHeader .headerBottom .wholeMenuBtn span:nth-child(1) {margin-bottom:8px;}
#divHeader .headerBottom .wholeMenuBtn span:nth-child(2) {margin-bottom:8px;}
#divHeader .headerBottom .wholeMenuBtn span:nth-child(3) {}

/* scroll header fixed */
#divHeader.fixed {position:fixed;width:100%;height:95px;background:#ffffff;top:0;left:0;border-bottom:1px solid #e2e2e2;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(87,87,87,0.22);
	-moz-box-shadow: 0px 3px 3px 0px rgba(87,87,87,0.22);
	box-shadow: 0px 3px 3px 0px rgba(87,87,87,0.22);
}
#divHeader.fixed .headerTop {background:#fff !important;margin-top:-18px;}
#divHeader.fixed .headerTop a {visibility:hidden;color:#ffffff !important;}
#divHeader.fixed .headerBottom {background:rgba(255,255,255,1) !important;}
#divHeader.fixed .headerBottom #divTopMenu {margin-top:-7px;}
#divHeader.fixed .headerBottom #divTopMenu > ul > li > a {color:#0f0f0f;}
#divHeader.fixed .headerBottom h1 a.logo {margin-top:8px;background:url(../../../../image/ko/local/logo_fixed.png) no-repeat;}
#divHeader.fixed .headerBottom .wholeMenuBtn {margin-top:8px;}
#divHeader.fixed .headerBottom .wholeMenuBtn span {background:#000;}
#divHeader.fixed .headerBottom #divTopMenu > ul > li .sub_menu {top:79px;}
#divHeader.menu_open.fixed .headerBottom #divTopMenu > ul > li .sub_menu {top:79px;}

/* sub menu */
#divHeader.menu_open {background:#fff;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(87,87,87,0.22);
	-moz-box-shadow: 0px 3px 3px 0px rgba(87,87,87,0.22);
	box-shadow: 0px 3px 3px 0px rgba(87,87,87,0.22);
}
#divHeader.menu_open {height:100vh;background:rgba(0,0,0,.0);}
#divHeader.menu_open .headerTop {background:transparent;}
#divHeader.menu_open .headerBottom {background:rgba(255,255,255,1) !important;}
#divHeader.menu_open .headerBottom h1 a.logo {background:url(../../../../image/ko/local/logo_fixed.png) no-repeat;}
#divHeader.menu_open .headerBottom #divTopMenu > ul > li > a {color:#0f0f0f;}
#divHeader.menu_open .headerBottom .wholeMenuBtn span {background:#000;}

/* all menu */
#divHeader #wholeMenu {position:fixed;z-index:9999;top:0;left:0;width:100%;height:100%;color:#fff;background:#1a3a8c;overflow-y:auto;overflow-x:hidden;display:none;-ms-transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#divHeader #wholeMenu .m_head {display:none;vertical-align:top;margin-top:0;}
#divHeader #wholeMenu .topArea  {height:202px;border:1px solid rgba(26,58,140,0);}
#divHeader #wholeMenu .topArea .head p {color:#fff;font-size:30px;text-align:center;margin-top:115px;}
#divHeader #wholeMenu .topArea .close_btn {position:absolute;z-index:10;right:44px;top:107px;width:39px;height:40px;background:url(../../../../image/ko/local/allmenu_close_btn.png) no-repeat;}
#divHeader #wholeMenu .menuWrap {position:relative;z-index:1;width:100%;max-width:1248px;margin:0 auto;padding:0 24px;}
#divHeader #wholeMenu .menuWrap .inner > ul {padding:0 3em;text-align:center;}
#divHeader #wholeMenu .menuWrap .inner > ul > li {display:inline-block;width:19%;text-align:center;vertical-align:top;}
#divHeader #wholeMenu .menuWrap .inner > ul > li > a {pointer-events:none;display:inline-block;width:100%;max-width:175px;height:47px;text-align:center;line-height:47px;font-size:20px;color:#c9caf1;background:#1c2672;}
#divHeader #wholeMenu .menuWrap .inner > ul > li > ul {display:inline-block;width:100%;padding:46px 0 0 1.5em;max-width:175px;text-align:left;}
#divHeader #wholeMenu .menuWrap .inner > ul > li > ul .title {display:none;}
#divHeader #wholeMenu .menuWrap .inner > ul > li > ul > li > a {font-size:16px;color:#8ba6ec;margin-bottom:12px;}
#divHeader #wholeMenu .menuWrap .inner > ul > li > ul > li > ul {margin-bottom:5px;}
#divHeader #wholeMenu .menuWrap .inner > ul > li > ul > li > ul > li > a {color:#4d6ab5;font-size:14px;margin-bottom:10px;}
#divHeader #wholeMenu .menuWrap .inner > ul > li > ul > li a:hover {color:#d7c484 !important;}
#divHeader #wholeMenu.open {display:block;}
@media screen and (max-width:1200px) {
	#divHeader .inner {padding-left:16px;}
	#divHeader .headerBottom #divTopMenu > ul > li > a {padding:16px 26px 30px;}
	#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner {padding:0;}
}
@media screen and (max-width:1100px) {
	#divHeader .headerBottom #divTopMenu > ul > li > a {padding:16px 20px 30px;}
	#divHeader .headerBottom #divTopMenu > ul > li .sub_menu .inner > ul > li > ul > li > a {margin-right:36px;}
}
#divHeader {background:#ffffff;z-index:10000;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(87,87,87,0.22);
	-moz-box-shadow: 0px 3px 3px 0px rgba(87,87,87,0.22);
	box-shadow: 0px 3px 3px 0px rgba(87,87,87,0.22);
}
#divHeader .headerTop {background:#ffffff;border-bottom:1px solid #ebebeb;}
#divHeader .headerTop ul li a {color:#8c8c8c;}
#divHeader .headerTop ul li a:hover {color:#555555;}
#divHeader .headerBottom h1 a.logo {background:url(../../../../image/ko/local/logo_fixed.png) no-repeat;}
#divHeader .headerBottom #divTopMenu > ul > li > a {color:#0f0f0f;}
#divHeader .headerBottom .wholeMenuBtn span {background:#000000;}
#divHeader.fixed .headerTop {border:none;}
#divHeader.fixed .headerBottom #divTopMenu {margin-top:-7px;}

/* divContent */
#divContents {padding-top:100px;padding-bottom:0;}
#divContents .subContent {position:relative;max-width:1248px;margin:0 auto;}
#divContents .subContent #divContent {padding:0 24px;}

/* divSearch */
#divSearch {position:absolute;top:63px;right:24px;font-family:'Noto Sans KR','Roboto',sans-serif;font-weight:500;letter-spacing:-0.4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#divSearch *{font-family:'Noto Sans KR','Roboto',sans-serif;font-weight:500;letter-spacing:-0.4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#divSearch form {position:relative;width:375px;height:52px;padding:0 45px 0 20px;border:2px solid #0c2e86;background:#ffffff;}
#divSearch form input[type="text"] {width:100%;height:47px;border:none;color:#444444;font-size:16px;}
#divSearch form input.placeholder {color:#8a8a8a;font-size:15px;font-family:NanumBarunGothic;}
#divSearch form input::-webkit-input-placeholder { color:#8a8a8a; }
#divSearch form input:-moz-placeholder {color: #8a8a8a; opacity: 1; }
#divSearch form input::-moz-placeholder {color: #8a8a8a; opacity: 1; }
#divSearch form input:-ms-input-placeholder {color: #8a8a8a; }
#divSearch form input[type="image"] {position:absolute;top:9px;right:10px;width:32px;height:29px}

/* divTitle divLoaction */
#divTitle {color:#333333;font-size:34px;font-weight:500;padding:53px 24px 10px;font-family:'Noto Sans KR','Roboto',sans-serif;font-weight:500;letter-spacing:-0.4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#divLocation {height:20px;margin-bottom:68px;padding:0 24px;font-family:'Noto Sans KR','Roboto',sans-serif;font-weight:500;letter-spacing:-0.4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#divLocation ul {overflow:hidden}
#divLocation ul li {float:left;padding-left:18px;margin-left:8px;background:url(../../../../image/ko/local/arrow.png) no-repeat 0 50%;color:#8b93a3;font-size:14px;line-height:20px;}
#divLocation ul li:first-child {padding-left:0;margin-left:0;background:none;}
#divLocation ul li a {display:block;color:#8b93a3;}
#divLocation ul li:first-child > a {width:20px;height:16px;text-indent:-9999px;background:url(../../../../image/ko/local/home.png) no-repeat center center;}
#divLocation ul li a img {vertical-align:-1px}

/* divTabMenu */
#divTabMenu {height:44px;margin-bottom:30px;padding:0 24px;font-family:'Noto Sans KR','Roboto',sans-serif;font-weight:500;letter-spacing:-0.4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#divTabMenu > div {position:relative;height:44px;padding:0;border-bottom:1px solid #747474;}
#divTabMenu ul li {float:left;min-width:104px;height:43px;margin:0;border:1px solid #c3c3c3;border-left:none;border-bottom:none;background-color:#fff;font-size:16px;line-height:42px;text-align:center}
#divTabMenu ul li:first-child {border-left:1px solid #c3c3c3;}
#divTabMenu ul li.selected {height:44px;border:1px solid #747474;margin-left:-1px;}
#divTabMenu ul li a {display:block;height:42px;padding:0 16px;background-color:#fff;color:#6a6a6a;font-size:16px;letter-spacing: -0.5px;}
#divTabMenu ul li.selected a {height:44px;background-color:#fff;color:#333333;font-weight:500;}
#divTabMenu .mTSWrapper {height:45px;background:transparent;}
#divTabMenu .mTSButton {width:40px;height:44px;margin:0;top:0;border:1px solid #000;background-position:center center;}
#divTabMenu .mTSButton.mTSButtonLeft {left:0;}
#divTabMenu .mTSButton.mTSButtonRight {right:0;}

/* Quick Menu */
.quickMenu {position:fixed;top:0;right:-168px;width:168px;height:100%;z-index:10001;-ms-transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;font-family:'Noto Sans KR','Roboto',sans-serif;font-weight:500;letter-spacing:-0.4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.quickMenu *{font-family:'Noto Sans KR','Roboto',sans-serif;font-weight:500;letter-spacing:-0.4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.quickMenu a{display:inline-block;}
.quickMenu span{display:inline-block;}
.quickMenu > div {height:100%;background-color:#edf0f5}
.quickMenu h2 {height:231px;background:#548cd2 url(../../../../image/ko/local/quick_logo.png) no-repeat 50% 41px;font-weight:300;text-align:center;color:#fff;font-size:25px;line-height:1.1;}
.quickMenu h2 span {display:block;padding-top:123px;color:#fff;letter-spacing:0;font-weight:500;}
.quickMenu .inbox {padding:29px 18px 0;}
.quickMenu ul.menuList {padding:0 0 16px 4px;border-bottom:1px solid #c7c9ce;}
.quickMenu ul.menuList li {margin-bottom:13px;}
.quickMenu ul.menuList li a {color:#444444;font-size:15px;font-weight:500;}
.quickMenu ul.myMenu {padding:16px 0 16px 4px;}
.quickMenu ul.myMenu li {margin-bottom:13px;}
.quickMenu ul.myMenu li a {color:#6d7486;font-size:15px;font-weight:500;}
.quickMenu .myMenuAddBtn {width:114px;height:38px;text-align:center;line-height:35px;font-size:15px;color:#fff;background:#163f87}
.quickMenu .myMenuAddBtn span {font-size:18px;font-weight:300;}
.quickMenu .quickOpen {position:absolute;top:50%;left:-28px;margin-top:-46px;color:#252b3a;}
.quickMenu .quickClose {display:none;position:absolute;top:50%;left:-28px;margin-top:-46px;color:#252b3a;}
.quickMenu.open {right:0;}
.quickMenu.open .quickOpen {display:none;}
.quickMenu.open .quickClose {display:inline-block;}

/* divFooter */
#divFooter {position:relative;background:#31343d;clear:both;margin-top:74px;font-family:'Noto Sans KR','Roboto',sans-serif;font-weight:500;letter-spacing:-0.4px}
#divFooter *{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#divFooter a{display:inline-block}
#divFooter span{display:inline-block}
#divFooter > div {width:100%;max-width:1248px;margin:0 auto;padding:40px 24px 70px;}
#divFooter .footer_left {float:left;width:118px;height:82px;background:url(../../../../image/ko/local/foot_logo.png) no-repeat;text-indent:-9999px;}
#divFooter .footer_right {margin-left:146px;line-height:1.5;}
#divFooter .privacy {height:48px;}
#divFooter .privacy li {position:relative;float:left;padding-right:24px;}
#divFooter .privacy li:first-child a {color:#ffbd3e;}
#divFooter .privacy li:first-child:before {content:'•';position:absolute;right:9px;color:#6c7286;}
#divFooter .privacy li a {color:#fff;font-size:14px;}
#divFooter .privacy li a:hover {text-decoration:underline;}
#divFooter .address, #divFooter .copyright {color:#6c7286;font-size:14px;font-weight:400;}
#divFooter .address span {padding-right:20px;}
#divFooter .address a {color:#6c7286;}
#divFooter .address a:hover {text-decoration:underline;}

@media screen and (max-width:1024px) {
	#divFooter .footer_left {background:url(../../../../image/ko/local/foot_logo_2x.png) no-repeat;background-size:118px 82px;}
}