

/* PC 레이아웃 시작 */
header {position:fixed; z-index:99; width:100%; height:auto;  background:#fff;}
section#k_visual {width:100%; height:695px; overflow:hidden;}
section#intro {width:100%; height:auto; overflow:hidden;}
section#news {width:100%; overflow:hidden;}
section#history {width:100%; height:201px; overflow:hidden;}
section#hope {width:100%; height:auto; overflow:hidden;}
section#mid_event {width:100%; height:auto; overflow:hidden;}
section#sns_event {width:100%; height:auto; overflow:hidden;}
section#etc {width:100%; height:auto; overflow:hidden;}
footer {width:100%; height:auto; overflow:hidden;}


/* header 스타일 */
#nav_wrap {width:100%; height:100%; box-shadow:1px 1px 10px #666;}
.nav_rel {position:relative; width:1600px; height:74px; margin:0 auto; padding:0 50px; box-sizing:border-box;}
	h1 {position:absolute; top:18px; width:188px; height:36px; background:#fff;}
	h1 a {display:inline-block; width:100%; height:100%; background:url(../images/logo.jpg) no-repeat center center/cover;}
	#gnb {display:inline-block; padding-top:30px; margin-left:328px; width:78%; height:20px; background:#fff;}
	#gnb .nav_container {width:100%; height:100%;}
	#gnb .nav_container .nav_list {width:5%; height:100%; float:left; padding-right:8rem;}
	#gnb .nav_container .nav_list>a {font:700 2rem 'Noto Sans KR',sans-serif; line-height:1;}
	#gnb .nav_container .nav_item7 {width:17%; padding:0;}
	

	
#sub_menu {position:absolute; z-index:-2; width:100%; height:386px; background:#fff; box-sizing:border-box; border-bottom:4px solid #ed1b24;}
#sub_menu::after {content:""; display:block; position:absolute; left:0; top:0; width:30%; height:100%; background:#f6f6f6 /*url('../images/sub_menu_bg.png') no-repeat 157% 0%; /*border-right:1px solid #ccc;*/}

	

	.nav_list .sub_container {position:absolute; z-index:-1; top:75px; left:50px; width:92%; height:381px; border-right:1px solid #ccc;}
	.sub_container .sub_left {float:left; width:50%; height:100%; background:#f6f6f6 url('../images/sub_menu_bg.png') no-repeat 255% -0%; padding:100px 120px 80px 150px; box-sizing:border-box; border-right:1px solid #ccc;}
		.sub_left_text {width:100%; height:100%; float:right;}
		
		.sub_left_text .sub_icon {float:left;}
		.sub_left_text .sub_icon_text {float:left; text-align:left; margin-left:10%;}
		
		.sub_left_text .sub_text_title {display:block; font:700 3rem 'Noto Sans KR',sans-serif; margin-bottom:1rem;}
		.sub_left_text .sub_text_content {display:block; width:200px; color:#666; font:400 1.7rem 'Noto Sans KR',sans-serif;}
		
		
		
		
		
		
		.sub_blood {width:100%; height:100%;}	
		.sub_blood .sub_left_text .sub_icon {width:98px; height:116px; background:url('../images/sub_bg/blood2.png') no-repeat center center;}
		
		.sub_share {width:100%; height:100%;}	
		.sub_share .sub_left_text .sub_icon {width:99px; height:91px; background:url('../images/sub_bg/share.png') no-repeat center center;}
		
		.sub_education {width:100%; height:100%;}	
		.sub_education .sub_left_text .sub_icon {width:93px; height:93px; background:url('../images/sub_bg/education.png') no-repeat center center;}
		
		.sub_rcy {width:100%; height:100%;}	
		.sub_rcy .sub_left_text .sub_icon {width:99px; height:96px; background:url('../images/sub_bg/rcy.png') no-repeat center center;}
		.sub_rcy .sub_left_text .sub_text_content {display:block; width:250px; color:#666; font:400 1.7rem 'Noto Sans KR',sans-serif;}
		
		.sub_support {width:100%; height:100%;}	
		.sub_support .sub_left_text .sub_icon {width:99px; height:101px; background:url('../images/sub_bg/support.png') no-repeat center center;}
		.sub_support .sub_left_text .sub_text_content {display:block; width:250px; color:#666; font:400 1.7rem 'Noto Sans KR',sans-serif;}
		
		.sub_hospital {width:100%; height:100%;}	
		.sub_hospital .sub_left_text .sub_icon {width:102px; height:95px; background:url('../images/sub_bg/hospital.png') no-repeat center center;}
		.sub_hospital .sub_left_text .sub_text_content {display:block; width:250px; color:#666; font:400 1.7rem 'Noto Sans KR',sans-serif;}
			
		
		
	.sub_container .sub_center {float:left; width:20%; height:100%; border-right:1px solid #ccc; box-sizing:border-box; padding:37px 44px 0 44px;}
		.sub_center ul {}
		.sub_center ul li {margin-bottom:5px;}
		.sub_center ul li a {display:inline-block; position:relative; width:90%; height:100%; padding:10px; font:400 1.8rem 'Noto Sans KR',sans-serif;}
		
		.sub_center ul>li>a:hover {color:#fff; }
		.sub_center ul>li>a:before {position:absolute; z-index:-1; width:0%; height:100%; background:#ed1b24; content: ""; left:  0; top: 0; opacity:0; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
		.sub_center ul>li>a:hover:before {width:100%; height:100%; opacity:1; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
	
	
	.sub_container .sub_right {float:right; width:30%; height:100%; box-sizing:border-box;}
	.sub_right .sub_right_top {position:relative; width:100%; height:50%; border-bottom:1px solid #ccc; box-sizing:border-box; padding:37px 44px 0 44px;}
	.sub_right_top span {display:block;}
	.sub_right_top_text1 {font:600 1.8rem 'Noto Sans KR',sans-serif;}
	.sub_right_top_text2 {width:130px; font-size:1.4rem; margin-top:1rem;}
	.sub_right_top_img {position:absolute; top:50px; right:50px;width:104px; height:104px; background:url('../images/sub_other_01.png') no-repeat center center;}
	
	.sub_right .sub_right_bottom {position:relative; width:100%; height:50%; border-bottom:1px solid #ccc; box-sizing:border-box; padding:37px 44px 0 44px;}
	.sub_right_bottom span {display:block;}
	.sub_right_bottom_text1 {font:600 1.8rem 'Noto Sans KR',sans-serif;}
	.sub_right_bottom_text2 {width:130px; font-size:1.4rem; margin-top:1rem;}
	.sub_right_bottom_img {position:absolute; top:50px; right:50px; width:104px; height:104px; background:url('../images/sub_other_02.png') no-repeat center center;}
	
	
	#all_menu_btn {position:absolute; top:30px; right:60px; width:22px; height:19px; background:url('../images/menu_icon.png') no-repeat center center; cursor:pointer;}
	#all_sub_menu {position:relative; top:0;  z-index:-10; width:100%; height:382px; background:#f9f9f9; border-bottom:4px solid #ed1b24;}
	#all_sub_menu .all_sub_container {position:absolute; top:0; right:0; bottom:0; left:-5%; margin:0 auto; width:85%; height:100%;}
	.all_sub_container>ul {width:100%; height:100%;}
	.all_sub_container>ul>.all_sub_list {position:relative; float:left; width:14%; height:100%; border-right:1px solid #ccc; box-sizing:border-box;}
	.all_sub_container>ul>.all_sub_list>ul {padding:40px;}
	.all_sub_container>ul>.all_sub_list>ul>li {font-size:1.7rem; width:100%; height:100%; margin-bottom:10px; }
	.all_sub_container>ul>.all_sub_list>ul>li>.all_sub_list_head {font-size:2rem;}
	.all_sub_container>ul>.all_sub_list>ul>li>a {position:relative; display:inline-block; width:100%; height:100%;  padding:5px 0 5px 10px;}
	.all_sub_container>ul>.all_sub_list>ul>li>a:hover {color:#fff;}
	.all_sub_container>ul>.all_sub_list>ul>li>a:before {position:absolute; z-index:-1; width:0%; height:100%; background:#ed1b24; content: ""; left:  0; top: 0; opacity:0; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s;}
	.all_sub_container>ul>.all_sub_list>ul>li>a:hover:before {width:100%; height:100%; opacity:1;}
	
	.all_icon {position:absolute; bottom:0; right:0; z-index:-5;}
	.all_blood_icon {width:70px; height:116px; background:url('../images/all_bg/all_blood.png') no-repeat 20px 0;}
	.all_share_icon {width:70px; height:116px; background:url('../images/all_bg/all_share.png') no-repeat 8px 0;}
	.all_education_icon {width:70px; height:116px; background:url('../images/all_bg/all_education.png') no-repeat 15px 0;}
	.all_rcy_icon {width:80px; height:116px; background:url('../images/all_bg/all_rcy.png') no-repeat 5px 0;}
	.all_donate_icon {width:70px; height:116px; background:url('../images/all_bg/all_donate.png') no-repeat 0 0;}
	.all_hospital_icon {width:70px; height:116px; background:url('../images/all_bg/all_hospital.png') no-repeat 20px 0;}
	
	#all_mobile_container {position:fixed; top:0; right:-120%; z-index:999; width:45%; height:100%; background:#fff;}
	
	

/* section#k_visual 스타일 */
#k_visual {background:url('../images/key_visual.png') no-repeat center center/cover; border-bottom:8px solid #ed1b24; padding-top:80px;}
#k_visual .k_visual_rel {width:1600px; height:100%; margin:0 auto; padding:0 50px; box-sizing:border-box;}

	.k_visual_rel .k_text_box1 {position:absolute; top:190px; left:190px;}
	.k_text_box1 .k_text1 {margin-bottom:15px;}
	.k_text_box1 .k_text1 span {display:block; font-size:5rem; color:#fff; line-height:1.2; text-shadow: 1px 1px 5px #333;}
	.k_text_box1 .k_text2 {}
	.k_text_box1 .k_text2 span {display:block; font-size:1.9rem; color:#fff; line-height:1.3; text-shadow: 1px 1px 5px #333;}
	
	.k_visual_rel .k_text_box2 {position:absolute; top:190px; z-index:-1;}
	.k_text_box2 .k_text1 {margin-bottom:15px;}
    .k_text_box2 .k_text1 span {display:block; font-size:5rem; color:#fff; line-height:1.2; text-shadow: 1px 1px 5px #333;}
    .k_text_box2 .k_text2 {}
    .k_text_box2 .k_text2 span {display:block; font-size:1.9rem; color:#fff; line-height:1.3; text-shadow: 1px 1px 5px #333;}
	
	
	.k_visual_rel .k_text_box3 {position:absolute; top:140px; left:190px; width:700px; height:380px; background:rgba(0,0,0,.5); padding:80px 50px 80px 50px; box-sizing:border-box;}
	.k_text_box3 .k_text1 {margin-bottom:15px;}
	.k_text_box3 .k_text1 span {display:block; font-size:3.5rem; color:#fff; line-height:1.2; text-shadow: 1px 1px 5px #333;}
	.k_text_box3 .k_text1 span:nth-child(2) {color:#ee4d4d;}
	.k_text_box3 .k_text2 {}
	.k_text_box3 .k_text2 span {display:block; font-size:1.8rem; color:#fff; line-height:1.3; text-shadow: 1px 1px 5px #333;}
	
	.k_visual_rel .k_text_box4 {position:absolute; top:70px; left:190px;}
	.k_text_box4 .k_text1 {float:left; margin-bottom:15px;}
	.k_text_box4 .k_text1 span {display:block; font-size:14rem; color:#ee4d4d; line-height:1.2;}
	.k_text_box4 .k_text2 {float:left; margin-top:25px; margin-left:30px;}
	.k_text_box4 .k_text2 span {display:block; font-size:2.3rem; color:#ee4d4d; line-height:1.8;}	
	
	.k_visual_rel .k_text_box5 {position:absolute; top:140px; right:190px;}
	.k_text_box5 .k_text1 {margin-bottom:15px; text-align:right;}
	.k_text_box5 .k_text1 span {display:block; font-size:4.5rem; color:#333; line-height:1.2;}
	.k_text_box5 .k_text1 span:nth-child(2) {color:#ee4d4d;}
	.k_text_box5 .k_text2 {text-align:right;}
	.k_text_box5 .k_text2 span {display:block; font-size:1.8rem; color:#333; line-height:1.6;}
	.k_text_box5 .donate_btn {float:right; display:inline-block; font-size:2.5rem; text-align:right; padding:7px; border:2px solid #333; margin-top:25px;}
	
	
	.play_btn_box {position:absolute; right:430px; top:0; bottom:150px; margin:auto; width:142px; height:142px; background:url('../images/play_btn.png') no-repeat center center; cursor:pointer;}
	


	/* 하단 내비 */
	.k_visual_nav {position:absolute; right:0; bottom:0; left:0; margin:0 auto; padding:0 50px; box-sizing:border-box; width:1600px; height:86px;}
	.k_visual_nav li {width:20%; height:100%; background:#555; float:left;}				  
				  li.knav_item1 {background:#49423c;}
				  li.knav_item2 {background:#463b32;}
				  li.knav_item3 {background:#362d27;}
				  li.knav_item4 {background:#464544;}
				  li.knav_item5 {background:#64574b;}
				  li.knav_on {background:#ed1b24;}
				  
				  
				  li.kn {padding:21px 30px 0 30px; box-sizing:border-box; cursor:pointer;}
				  li .tab_container {width:100%; height:100%;}
				  .tab_container .tab_left {float:left; width:50%; height:100%;}
				  .tab_container .tab_mark_text {display:inline-block; font:700 2.5rem 'Noto Sans KR',sans-serif; color:#fff; margin:4px 0 0 20px;}
				  .tab_container .tl1 .tab_mark {display:block; float:left; width:47px; height:47px; background:url('../images/tab_icon1.png') no-repeat center center;}
				  .tab_container .tl2 .tab_mark {display:block; float:left; width:47px; height:47px; background:url('../images/tab_icon2.png') no-repeat center center;}
				  .tab_container .tl3 .tab_mark {display:block; float:left; width:47px; height:47px; background:url('../images/tab_icon3.png') no-repeat center center;}
				  .tab_container .tl4 .tab_mark {display:block; float:left; width:47px; height:47px; background:url('../images/tab_icon4.png') no-repeat center center;}
				  .tab_container .tl5 .tab_mark {display:block; float:left; width:47px; height:47px; background:url('../images/tab_icon5.png') no-repeat center center;}
				  
				  
				  .tab_container .tab_right {float:left; width:40%; height:50%; margin-top:3px; margin-left:20px;}
				  .tab_container .tab_right .tab_right_text {display:block; font:500 1.4rem 'Noto Sans KR',sans-serif; color:#fff;}
				  
		
		
/* section#intro 스타일 */
#intro .intro_rel {width:1600px; height:auto; top:0; right:0; bottom:0; left:0; margin:auto; padding:100px 50px 20px; box-sizing:border-box;}
	.intro_L_textBox {float:left; margin-top:50px; top:0; left:0; width:40%; height:50%;}
	
	.intro_R_slideBox_wrap {float:left; position:relative; left:0; width:50%; border:1px solid #ccc; box-sizing:border-box;}
		.auto_box {position:absolute; bottom:10px; right:0; z-index:100; width:70px; height:30px;}
		.play {position:absolute; top:0; left:0; font-size:0; color:transparent; background:none; width:30px; height:30px; border:none; cursor:pointer;}
		.play:before {content:"\ea3e";}
		.pause {position:absolute; top:0; left:0; font-size:0; color:transparent; background:none; width:30px; height:30px; border:none; cursor:pointer;}
		.pause:before {content:"\ea3b";}
		.auto:before {font-family:'xeicon'; font-size:2.5rem; color:#fff;}
	
	.intro_R_slideBox {width:100%;}
	.intro_R_slideBox div img {display:inline-block; width:100%;}
	.intro_R_slideBox button {position:absolute; z-index:10; top:50%; transform:translateY(-50%); width:35px; height:35px; border-radius:100%; background:rgba(0,0,0,.5); border:none;}
	.intro_R_slideBox button:before {font-family:'xeicon'; font-size:3rem; color:#fff;}
	.intro_R_slideBox button.slick-prev {left:3%; font-size:0; color:transparent; cursor:pointer;}
	.intro_R_slideBox button.slick-prev:before {content:"\e93c";}
	.intro_R_slideBox button.slick-next {right:3%; font-size:0; color:transparent; cursor:pointer;}
	.intro_R_slideBox button.slick-next:before {content:"\e93f";}
	.intro_R_slideBox .slide_text {width:100%; background:rgba(0,0,0,.7); color:#fff; padding:15px; box-sizing:border-box; font-size:1.5rem;}
	.intro_R_slideBox .slide_text a {color:#fff;}
	.intro_R_slideBox .slide_text a:hover {text-decoration:underline;}
	


/* section#news 스타일 */
#news .news_rel {top:0; right:0; bottom:0; left:0; width:85%; height:auto; padding:0 5rem; margin:0 auto; box-sizing:border-box;}
	.news_rel .news_container {width:100%; height:834px; padding:100px 0;}
	
	.news_container .news_header {width:100%; height:54px; background:#f90707 url('../images/border_pattern.png') no-repeat center center/cover; border-radius: 30px 30px 0 0;}
					.news_header>h3 {padding:14px 0 0 20px;}
					.news_header .news_title {color:#fff; font-size:2.5rem;}
		
	.news_container .news_left {float:left; width:25%; height:100%;}
					.news_left .support {width:100%; height:50%; border-left:1px solid #ccc; box-sizing:border-box;}
					.support .support_text_box {}
					.support_text_box span {display:block;}
					.support_text_box .quotes_up {width:15px; height:12px; background:url('../images/quotes.png') no-repeat 0 0; margin-bottom:2rem;}
					.support_text_box .more {position:absolute; top:0; right:0;}
					.support_text_box .support_text1 {line-height:1; margin-bottom:1.8rem;}
					.support_text_box .support_text2 {width:23rem; font-size:1.6rem; color:#666; margin-bottom:2rem; line-height:1.3;}
					.support_text_box .quotes_down {width:15px; height:12px; background:url('../images/quotes.png') no-repeat -26px 0; margin-bottom:3rem;}
					.support_text_box .support_text3 {font-size:1.5rem; color:#666; line-height:1.3; margin-bottom:2rem;}
					.news_left .hr {width:100%; height:.2px; border:.5px dotted #aaa;}
					.support_text_box .support_text4 {font-size:1.5rem; margin-top:1.5rem;}
					.support_text_box .support_text4 .red_color {font-size:2rem; display:inline; margin-right:.5rem;}
					
					
					.news_left .donate {width:100%; height:50%; border-left:1px solid #ccc; box-sizing:border-box; overflow:hidden;}
					.donate .donate_text_box {width:100%; height:100%;}
					.donate_text_box span {display:block; text-align:center; margin-bottom:10px;}
					.donate_text_box .donate_text1 {position:relative; left:-15px; font-size:1.5rem; color:#333; margin-bottom:5px;}
					.donate_text_box .donate_text1 .donate_logo {position:absolute; left:85px; top:-6px; right:0; margin:0 auto; display:inline-block; width:24px; height:24px; background:url('../images/icon1.png') no-repeat center center/contain;}
					.donate_text_box .more {position:absolute; top:0; right:0;}
					.donate_text_box .donate_text2 {font-size:2.5rem; color:#333; margin-bottom:15px;}
					.donate_text_box .donate_text3 {font-size:1.6rem; color:#666; margin-bottom:15px;}
					.donate_text_box .donate_text4 {font-size:1.6rem; color:#666;}
					.donate_text_box .donate_text4 .red_color {display:inline-block; font-size:1.6rem;}
					.donate_text_box .donate_vector {position:absolute; bottom:0; left:-3rem; width:372px; height:181px; margin:0 auto; background:url('../images/donate_vector2.png') no-repeat center center;}
	
	.news_container .news_center {float:left; width:50%; height:100%;}
					.news_center .notice {float:left; width:100%; height:50%;}
					
					.notice nav {width:100%; height:4rem; padding:0 0 2rem 0;}
					.notice nav ul li {float:left; padding-right:2rem;}
					.notice nav ul li span {display:inline-block; padding-left:2rem;}					
					.notice nav ul .on2 {color:#ed1b24;}
					.notice nav ul .more {position:absolute; top:0; right:0;}
					
					
					.notice_content {border-bottom:1px dotted #ccc; padding-bottom:2rem; }
					.notice_content .notice_content_title {width:100%; font-size:1.8rem; margin-bottom:10px;}
					.notice_content .notice_content_title a {color:#666;}
					.notice_content .notice_content_text {font-size:1.5rem; color:#666;}
					.notice_content .notice_content_text span {display:block; margin-bottom:5px;}
					.notice_content .notice_content_text span.text_top {margin-bottom:15px;}
					
					.notice_bottom p {margin-top:15px;}
					.notice_bottom p .nb1 {display:inline-block; float:left; font-size:1.5rem; width:45rem;}
					.notice_bottom p .nb1 a {}
					.notice_bottom p .nb2 {display:inline-block; float:right; font-size:1.5rem;}
					
					.news_center .qandA {float:left; width:50%; height:50%;}
					.q_header .sbj1 {display:inline-block; float:left; margin-bottom:2rem;}
					.q_header .more {display:inline-block; float:right;}
					 
					.q_content {}
					.q_content p {margin:15px 0;}
					.q_content span {}
					.q_content .nowrap { width:20rem;}
					.q_content .q_mark {font-size:2.5rem; color:#a29273; margin-right:10px;}
					.q_content .q_content_text {font-size:1.5rem;}
					.q_content .answer {color:#a29273;}
					.q_content .q_end {margin-left:30px; font-size:1.5rem; line-height:1.5;}
					
					
					.news_center .reference {float:right; width:50%; height:50%;}
					
					.r_header {margin-bottom:4rem; }
					.r_header .sbj1 {display:inline-block; float:left;}
					.r_header .more {display:inline-block; float:right;}
					.r_data li {font-size:1.3rem; line-height:1; margin-bottom:2rem; background:url('../images/icon_disk.png') no-repeat left; padding-left:20px; box-sizing:border-box;}
					.r_data li a {display:inline-block;  width:75%;}
					.r_data li .date { display:inline-block; width:25%; text-align:right;}
					
					
					
					/*.r_data li a span {display:inline-block;}
					.r_data li a .disk {display:inline-block; margin-right:.7rem; width:15px; height:16px; background:url('../images/icon_disk.png') no-repeat center center/cover;}
					.r_data li a .date {float:right; width:20%;}
					.r_data li a:hover {text-decoration:underline;}
					
					.reference:hover .r_header {color:#fff;}
					.reference:hover {background:#e50610; color:#fff;}					
					.reference:hover .r_data li a  {color:#fff;}
					
					.reference:hover {background:#e50610; color:#fff;}					
					.reference:hover a {color:#fff;}*/
					
					

	.news_container .news_right {float:left; width:25%; height:100%;}
					.news_right .blood {float:left; width:100%; height:50%;}					
					.blood .blood_text_box {width:100%; height:100%;}
					.blood_text_box span {display:block; text-align:center;}
					.blood_text_box .blood_text1 {font-size:1.4rem; margin-bottom:.6rem;}
					.blood_text_box .blood_text2 {margin-bottom:1rem;}
					.blood_text_box .blood_text3 {}
					.blood_text_box .more {position:absolute; top:0; right:0;}
					.blood_text_box .blood_list {width:75%; height:80%; margin:auto; margin-top:2.5rem; min-width:205px;}
					.blood_text_box .blood_list ul {width:100%; height:100%; box-sizing:border-box;}
					.blood_text_box .blood_list ul li {float:left; width:50%; height:40%;}
					.blood_text_box .blood_list ul .blood_item1 {background:url('../images/blood_list1.png') no-repeat center center;}
					.blood_text_box .blood_list ul .blood_item2 {background:url('../images/blood_list2.png') no-repeat center center;}
					.blood_text_box .blood_list ul .blood_item3 {background:url('../images/blood_list3.png') no-repeat center center;}
					.blood_text_box .blood_list ul .blood_item4 {background:url('../images/blood_list4.png') no-repeat center center;}
					
					
					.news_right .education {float:left; width:100%; height:50%;}
					.education_text1 {display:block; text-align:center;}
					.education .more {position:absolute; top:3.2rem; right:4.2rem;}
					.education_list {width:100%; height:80%; margin:auto; margin-top:2.5rem;}
					.education_list ul {width:100%; height:85%; margin-top:4rem;}
					.education_list ul li {float:left; text-align:center; width:33%; height:50%;}
					.education_list ul li a {width:100%; height:100%; display:inline-block; font-size:1.4rem;}
					.education_list ul li a span {display:inline-block;}
					
					.education_list ul li a .edu_icon1 {width:100%; height:60%; background:url('../images/edu_list1.png') no-repeat center center;}					
					.education_list ul li a .edu_icon2 {width:100%; height:60%; background:url('../images/edu_list2.png') no-repeat center center;}
					.education_list ul li a .edu_icon3 {width:100%; height:60%; background:url('../images/edu_list3.png') no-repeat center center;}
					.education_list ul li a .edu_icon4 {width:100%; height:60%; background:url('../images/edu_list4.png') no-repeat center center;}
					.education_list ul li a .edu_icon5 {width:100%; height:60%; background:url('../images/edu_list5.png') no-repeat center center;}
					.education_list ul li a .edu_icon6 {width:100%; height:60%; background:url('../images/edu_list6.png') no-repeat center center;}
					.education_list ul li a .edu_text {width:100%; height:20%;}
					
					.education_list .edu_item3,
					.education_list .edu_item6 {}					
					
					.education_list .edu_item1 {}
					.education_list .edu_item2 {}
					.education_list .edu_item3 {}
					.education_list .edu_item4 {}
					.education_list .edu_item5 {}
					.education_list .edu_item6 {}					
					
					/*
					.education_list .edu_item1 a {display:inline-block; width:55px; height:48px; background:url('../images/edu_list1.png') no-repeat top center;}
					.education_list .edu_item2 a {display:inline-block; width:55px; height:48px; background:url('../images/edu_list2.png') no-repeat top center;}
					.education_list .edu_item3 a {display:inline-block; width:55px; height:48px; background:url('../images/edu_list3.png') no-repeat top center;}
					.education_list .edu_item4 a {display:inline-block; width:55px; height:48px; background:url('../images/edu_list4.png') no-repeat top center;}
					.education_list .edu_item5 a {display:inline-block; width:75px; height:48px; background:url('../images/edu_list5.png') no-repeat top center;}
					.education_list .edu_item6 a {display:inline-block; width:55px; height:48px; background:url('../images/edu_list6.png') no-repeat top center;}
					*/


		
		

/* section#history 스타일 */
#history {position:relative; background:url('../images/history.png') no-repeat center center/cover;}
#history .history_rel {position:relative; width:78%; height:100%; margin:0 auto;}

	.history_rel .his_L_text_box {position:absolute; top:48px; left:15.6%; width:28%; height:97px; color:#fff; text-align:center; line-height:1.3; padding-top:2px; box-sizing:border-box;}
				 .his_L_text_box>p {font-size:2rem;}
				 .his_L_text_box>p>b {font-size:2.8rem;}
				 .his_L_text_box>a {display:inline-block; padding:6px 10px; background:#f00; margin-top:10px; box-sizing:border-box;}
				 .his_L_text_box>a>span {color:#fff; font-size:1.2rem;}
	
	.history_rel .vertical_bar1 {position:absolute; z-index:50; top:0; right:0; bottom:0; left:0; margin:auto; display:inline-block; width:1px; height:92px; background:#ccc;}
	
	.history_rel .his_R_text_box {position:absolute; top:48px; right:15.6%; width:28%; /*width:308px;*/ height:127px; color:#fff; text-align:center; line-height:1.3; padding-top:2px; box-sizing:border-box;}
				 .his_R_text_box>p {font-size:2rem;}
				 .his_R_text_box>p>b {font-size:2.8rem;}
				 .his_R_text_box>a {display:inline-block; padding:6px 10px; background:#f00; margin-top:10px; box-sizing:border-box;}
				 .his_R_text_box>a>span {color:#fff; font-size:1.2rem;}


/* section#hope 스타일 */
#hope .hope_rel {width:1600px; height:auto; margin:0 auto; padding:0 50px; box-sizing:border-box;}
	.hope_rel .hope_story {position:relative; width:100%; padding:100px 0 40px;}
	
	.hope_rel .hope_container {width:100%; height:834px; margin-bottom:200px;}
	
	.hope_container .hope_header {width:100%; height:54px; background:#f90707 url('../images/border_pattern.png') no-repeat center center/cover; border-radius: 30px 30px 0 0;}
					.hope_header>h3 {padding:14px 0 0 20px;}
					.hope_header .hope_title {color:#fff; font-size:2.5rem;}
	
	.hope_container .hope_left {float:left; width:33.333%; height:95%;}
					.hope_left .left_cell_1 {width:100%; height:50%; background:url('../images/hope_left1.png') no-repeat center center/cover;}
					.hope_left .left_cell_2 {width:100%; height:50%; background:url('../images/hope_left2.png') no-repeat center center/cover;}
					.hope_left .left_cell_1:hover {background:url('../images/hope_left1_hover.png') no-repeat center center/cover;}
	                .hope_left .left_cell_2:hover {background:url('../images/hope_left2_hover.png') no-repeat center center/cover;}
					
	.hope_container .hope_center {float:left; width:33.333%; height:95%;}
					.hope_center .center_cell_1 {width:100%; height:50%; background:url('../images/hope_center1.png') no-repeat center center/cover;}
					.hope_center .center_cell_2 {width:100%; height:50%; background:url('../images/hope_center2.png') no-repeat center center/cover;}
					.hope_center .center_cell_1:hover {background:url('../images/hope_center1_hover.png') no-repeat center center/cover;}
					.hope_center .center_cell_2:hover {background:url('../images/hope_center2_hover.png') no-repeat center center/cover;}
					
	.hope_container .hope_right {float:left; width:33.333%; height:95%;}
					.hope_right .right_cell_1 {width:100%; height:50%; background:url('../images/hope_right1.png') no-repeat center center/cover;}
					.hope_right .right_cell_2 {width:100%; height:50%; background:url('../images/hope_right2.png') no-repeat center center/cover;}
					.hope_right .right_cell_1:hover {background:url('../images/hope_right1_hover.png') no-repeat center center/cover;}
                    .hope_right .right_cell_2:hover {background:url('../images/hope_right2_hover.png') no-repeat center center/cover;}
	
	.hope_container .hope_text_box {position:absolute; bottom:0; width:100%; height:90px; background:rgba(0,0,0,.5);}
	.hope_container .hope_text_box p {color:#fff; text-align:center; font:400 2.1rem/90px 'Noto Sans KR',sans-serif; letter-spacing:-0.03em;}
	
					
/* section#mid_event 스타일 */
#mid_event {height:auto; background:url('../images/bg_patton_01.gif'); border-top:1px solid #cdcbd2; border-bottom:1px solid #cdcbd2; box-sizing:border-box;}
#mid_event .mid_event_rel {width:1600px; background:#fefefe background:url('../images/bg_patton_01.gif'); margin:0 auto; padding:50px; box-sizing:border-box;}
		   .mid_event_rel>ul {width:100%; height:161px; margin:0 auto;}
		   .mid_event_rel>ul>li {width:360px; height:163px; float:left; margin-right:2rem; border:1px solid #ccc; box-sizing:border-box;}
		   .mid_event_rel>ul>li.event_item4 {margin-right:0;}
		   .mid_event_rel>ul>li .mid_img {float:left; border-right:1px solid #ccc; box-sizing:border-box;}
		   .mid_event_rel>ul>li	.mid_text {float:right; display:inline-block; width:50%; height:100%; background:#fff;}
		   
		   .event_item1 .mid_img {display:inline-block; width:50%; height:100%; background:url('../images/event_item1.png') no-repeat center center/cover;}
		   .event_item2 .mid_img {display:inline-block; width:50%; height:100%; background:url('../images/event_item2.png') no-repeat center center/cover;}
		   .event_item3 .mid_img {display:inline-block; width:50%; height:100%; background:url('../images/event_item3.png') no-repeat center center/cover;}
		   .event_item4 .mid_img {display:inline-block; width:50%; height:100%; background:url('../images/event_item4.png') no-repeat center center/cover;}
		   
		   .mid_text {padding:20px 10px 25px 25px; box-sizing:border-box;}
		   .mid_text b {font-size:1.5rem;}
		   .mid_text span {display:block; font-size:1.4rem;}
		  
		


/* section#sns_event 스타일 */
#sns_event .sns_event_rel {width:1600px; height:auto; margin:0 auto; padding:0 50px; box-sizing:border-box;}
	.sns_event_rel .sns_container {width:100%; height:834px; margin-bottom:200px; padding-top:100px; }
	
	.sns_container .sns_header {width:100%; height:54px; background:#f90707 url('../images/border_pattern.png') no-repeat center center/cover; border-radius: 30px 30px 0 0;}
				   .sns_header>h3 {padding:14px 0 0 20px;}
				   .sns_header .sns_title {color:#fff; font-size:2.5rem;}
	
	.sns_container .sns_column1 {float:left; width:25%; height:95%;}
				   .sns_column1 .column1_cell_1 {width:100%; height:50%; padding:45px 55px 0;}
				   .sns_text_box1 span {display:inline-block;}
				   .sns_text_box1 .st1 {display:block; color:red;}
				   .sns_text_box1 .st3 {font-size:2rem;}
				   .sns_text_box1 .s_text {font:700 3rem 'Noto Sans KR',sans-serif;}
				   
				   .sns_column1 .column1_cell_2 {width:100%; height:50%;}
				   .sns_column1 .column1_cell_2 a {display:inline-block; width:100%; height:100%; background:url('../images/sns4.png') no-repeat center center/cover;}
				   .sns_column1 .column1_cell_2 a span {display:inline-block;}
				   
	.sns_container .sns_column2 {float:left; width:25%; height:95%;}
				   .sns_column2 .column2_cell_3 {width:100%; height:50%;}
			       .column2_cell_3 a {display:inline-block; width:100%; height:100%; background:url('../images/sns1.png') no-repeat center center/cover;}
				   .column2_cell_3 a span {display:inline-block;}
				   .sns_column2 .column2_cell_4 {width:100%; height:50%;}
				   .sns_column2 .column2_cell_4 a {display:inline-block; width:100%; height:100%; background:url('../images/sns5.png') no-repeat center center/cover;}
				   .sns_column2 .column2_cell_4 a span {display:inline-block;}
					
	.sns_container .sns_column3 {float:left; width:25%; height:95%;}
				   .sns_column3 .column3_cell_5 {width:100%; height:50%;}
				   .column3_cell_5 a {display:inline-block; width:100%; height:100%; background:url('../images/sns2.png') no-repeat center center/cover;}
				   .column3_cell_5 a span {display:inline-block;}
				   .sns_column3 .column3_cell_6 {width:100%; height:50%;}
				   .sns_column3 .column3_cell_6 a {display:inline-block; width:100%; height:100%; background:url('../images/sns6.png') no-repeat center center/cover;}
				   .sns_column3 .column3_cell_6 a span {display:inline-block;}
					
	.sns_container .sns_column4 {float:left; width:25%; height:95%;}
				   .sns_column4 .column4_cell_7 {width:100%; height:50%;}
				   .column4_cell_7 a {display:inline-block; width:100%; height:100%; background:url('../images/sns3.png') no-repeat center center/cover;}
				   .column4_cell_7 a span {display:inline-block;}
				   .sns_column4 .column4_cell_8 {width:100%; height:50%;}
				   .sns_column4 .column4_cell_8 a {display:inline-block; width:100%; height:100%; background:url('../images/sns7.png') no-repeat center center/cover;}
				   .sns_column4 .column4_cell_8 a span {display:inline-block;}
	

/* section#etc 스타일 */
#etc {border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
#etc .end_area_top {width:100%; height:auto; margin:0 auto; padding:0 10%; box-sizing:border-box; border-bottom:1px solid #ccc;}
	 .end_area_top .top_rel {width:100%; height:auto; margin:0 auto; box-sizing:border-box; padding:20px 0;}
		.top_rel .sns_mark {float:left; width:245px; height:auto; padding-top:45px; box-sizing:border-box;}
				 .sns_mark .mark {float:left; margin-right:10px;}
				 .sns_mark .mark a {display:inline-block; width:25px; height:25px;}
				 .sns_mark .mark .sm1 {background:url('../images/sns_mark.png') no-repeat -6px -7px;}
				 .sns_mark .mark .sm2 {background:url('../images/sns_mark.png') no-repeat -41px -8px;}
				 .sns_mark .mark .sm3 {width:30px; height:30px; background:url('../images/sns_mark.png') no-repeat -76px -8px;}
				 .sns_mark .mark .sm4 {background:url('../images/sns_mark.png') no-repeat -115px -8px;}
				 .sns_mark .mark .sm5 {width:32px; height:30px; background:url('../images/sns_mark.png') no-repeat -149px -6px;}
				 .sns_mark .mark .sm6 {margin-top:2px; width:35px; height:32px; background:url('../images/sns_mark.png') no-repeat -188px -10px;}
				 .sns_mark .mark .sm7 {display:none;}
		
		.top_rel .donation {float:left; width:170px; height:60px; padding:35px 0 0 35px;}
				 .donation .donation_icon {display:inline-block; float:left; width:38px; height:38px; background:url('../images/donation.jpg') no-repeat center center/cover;}
				 .donation .donation_text {font-size:1.5rem; margin-left:50px;}
				 .donation .donation_text .do_title {font:600 1.8rem 'Noto Sans KR',sans-serif; line-height:1;}
				 .donation .donation_text .do_tel {font:600 2rem 'Noto Sans KR',sans-serif; color:#ed1c24;}
		
		.top_rel .top_link1 {float:right; width:150px; height:36px; padding:35px 0 0 0;}
		.top_rel .top_link1 p {font-size:1.7rem; color:#777; margin-bottom:5px;}
		.top_rel .top_link1 a {display:inline-block; padding:3px 15px; background:#808080; color:#fff; font-size:1.3rem; border-radius:6px;}
		.top_rel .top_link2 {float:right; width:150px; height:36px; padding:35px 35px 0 0;}
		.top_rel .top_link2 span {font-size:1.7rem; color:#777;}
		.top_rel .top_link2 span i {display:inline-block; margin-left:5px; width:7px; height:14px; background:url('../images/pbtn.png') no-repeat center center;}
		
	 .end_area_bottom {width:100%; height:auto; margin:0 auto; padding:0 10%; box-sizing:border-box;}
	 .end_area_bottom .bottom_rel {width:100%; height:auto;}
	 .bottom_rel .bottom_link1 {float:left; padding:35px 0px; box-sizing:border-box;}
	 .bottom_rel .bottom_link1 li {float:left; font-size:1.5rem; margin-right:40px;}
	 .bottom_rel .bottom_link1 li a:hover {text-decoration:underline;}
	 
	
	

/* footer 스타일 */
footer {background:#42464d;}
	.footer_rel {width:100%; height:auto; background:#42464d; margin:0 auto; padding:0 180px; box-sizing:border-box;}
	.footer_rel .footer_top {width:100%; height:auto; margin:0 auto; padding:55px 0 40px 0; }
	
	.footer_top .list {}
	.footer_top .list a {color:#c0c2c5;}
	.footer_top .list a:hover {text-decoration:underline;}
	
	.footer_top .list .list_title {margin-bottom:10px;}
	.footer_top .list .list_title a {color:#fff;}
	
	.footer_top .last {width:20%;}
	.footer_top .last ul {float:left; width:50%; height:100%;}	
	.footer_top .last .ulLast {top:-38px;}
	
	.footer_rel .footer_bottom {width:100%; height:auto; padding-bottom:150px;}
	
	.footer_bottom .footerBox {color:#c0c2c5; font-size:1.4rem; margin-bottom:10px;}
	.footer_bottom .footerBox b {color:#fff; margin-right:10px; font-size:1.7rem;}
	.footer_bottom .footerBox p {float:left; margin-right:25px;}
	
	.footer_end_mark {position:absolute; top:350px; right:50px; width:300px; height:150px; color:#fff; padding-bottom:50px;}
	.footer_end_mark a {display:inline-block; width:68px; height:48px; background:url('../images/future.png') no-repeat center center/cover; margin-right:25px;}
	.footer_end_mark span {position:relative; top:15px; display:inline-block; font-size:1.7rem;}

	
	
	
	
	
	
	
	
	
	
